/* Fonts */
/* Gotham Pro */
@font-face {
    font-family: "GothamProRegular";
    src: url("../../../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../../../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../../../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../../../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBold";
    src: url("../../../fonts/GothamProBold/GothamProBold.eot");
    src: url("../../../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../../../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../../../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBlack";
    src: url("../../../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../../../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../../../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../../../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProItalic";
    src: url("../../../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../../../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../../../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../../../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProMedium";
    src: url("../../../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../../../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../../../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../../../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProLight";
    src: url("../../../fonts/GothamProLight/GothamProLight.eot");
    src: url("../../../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../../../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../../../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../../../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../../../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../../../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../../../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProLightItalic";
    src: url("../../../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../../../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../../../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../../../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../../../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../../../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../../../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../../../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../../../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../../../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../../../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../../../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* Circe */
@font-face {
    font-family: 'Circe';
    src: url('../../../fonts/Cirle/Circe-Regular.eot');
    src: url('../../../fonts/Cirle/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/Cirle/Circe-Regular.woff2') format('woff2'),
    url('../../../fonts/Cirle/Circe-Regular.woff') format('woff'),
    url('../../../fonts/Cirle/Circe-Regular.ttf') format('truetype'),
    url('../../../fonts/Cirle/Circe-Regular.svg#Circe-Light') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('../../../fonts/Cirle/Circe-Light.eot');
    src: url('../../../fonts/Cirle/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/Cirle/Circe-Light.woff2') format('woff2'),
    url('../../../fonts/Cirle/Circe-Light.woff') format('woff'),
    url('../../../fonts/Cirle/Circe-Light.ttf') format('truetype'),
    url('../../../fonts/Cirle/Circe-Light.svg#Circe-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('../../../fonts/Cirle/Circe-Bold.eot');
    src: url('../../../fonts/Cirle/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/Cirle/Circe-Bold.woff2') format('woff2'),
    url('../../../fonts/Cirle/Circe-Bold.woff') format('woff'),
    url('../../../fonts/Cirle/Circe-Bold.ttf') format('truetype'),
    url('../../../fonts/Cirle/Circe-Bold.svg#Circe-Light') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('../../../fonts/Cirle/Circe-ExtraBold.eot');
    src: url('../../../fonts/Cirle/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/Cirle/Circe-ExtraBold.woff2') format('woff2'),
    url('../../../fonts/Cirle/Circe-ExtraBold.woff') format('woff'),
    url('../../../fonts/Cirle/Circe-ExtraBold.ttf') format('truetype'),
    url('../../../fonts/Cirle/Circe-ExtraBold.svg#Circe-Light') format('svg');
    font-weight: 900;
    font-style: normal;
}
body {
    font-family: "GothamProRegular";
	width: 100vw;
}
h2 {
    /*
    font-family: "GothamProMedium";
    */
    font-family: 'Circe';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.37;
    letter-spacing: normal;
}
section {
    background-size: 50%;
    background-repeat-y: no-repeat;
    background-position: bottom;
}
p {
    font-family: 'Circe';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    margin-top: 20px;
}
#home {
    /* background-color: #53be67; */
    background-color: #53be67;
    background-image: url("../../img/wave_home.png");
    background-size: 165px;
}
#home p {
    color: #ffffff;
}
#structure {
    padding-bottom: 142px;
}
.coffee {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 315px;
    z-index: 1;
}
#structure p {
    color: #b2b2b2;
}
#prototyping {
    background-color: #53be67;
}
#prototyping p {
    color: #ffffff;
}
.prototyping_grid_15px {
    margin: 0 -15px;
}
.prototyping_grid {
    display: grid;
    width: 100%;
    overflow: visible;
}
.prototyping_grid img {
    padding: 15px;
}
.overflow-hidden {
    overflow: hidden;
}
#design {
    padding-top: 97px;
}
#design p {
    color: #b2b2b2;
}
.design_img {
    padding: 59px 0 126px 0;
    margin-bottom: -180px;
    overflow-x: hidden;
}
.design_img img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#grid_and_elements {
    padding-top: 97px;
    background-color: #53be67;
    background-image: url("../../../img/grid.png");
    background-repeat-y: repeat;
    background-repeat-x: no-repeat;
    background-position: center;
    background-size: 1140px;
    padding-bottom: 85px;
}
#grid_and_elements h2 {
    margin-bottom: 70px;
}
#grid_and_elements p {
    color: #ffffff;
    font-size: 20px;
    margin-top: -8px;
}
#cart {
    padding-top: 97px;
    background-image: url("../../../img/cart.png");
    background-repeat: no-repeat;
    background-position: 77% 100%;
    background-size: 35%;
}
#cart p {
    color: #b2b2b2;
}
#cart img {
    margin-top: 55px;
}
#layout {
    background-color: #53be67;
    padding-top: 97px;
}
#layout p {
    color: #ffffff;
}
#release p {
    color: #b2b2b2;
    margin-bottom: 64px;
}
#release {
    background-image: url("../../../img/wave.png");
    background-size: 165px;
    background-position: 0 89%;
    margin-bottom: 100px;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}
#release a {
    padding: 10px 47px;
    font-size: 20px;
    text-decoration: none;
    float: left;
    text-align: center;
}
.release_grid {
    display: grid;
    grid-template-columns: auto 460px auto 951px;
}
.orange-title {
    background: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
}