/*
	© Front-end Developer: serjGonchar (13.11.20017);
	E-Mail: goncharserj1992@gmail.com;
	Phone: +3 8 (099) 63 70 886;
	Skype: g.l.serj;
	Website: serjGonchar.pro;
*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Extra Small devices (phones, 320px and up) */
@media (min-width: 320px) {
  .discription, .direction p {
    padding: 0 15px;
  }
  .direction h2 {
    padding-left: 15px;
  }
  .focusNav {
    height: 70px;
  }
  .footerLogo {
    text-align: center;
  }
  footer .info p a {
    text-align: center;
  }
  .dublicateForm input {
    width: 100% !important;
  }
  footer .dublicateForm .checkbox-wrap {
    position: relative;
    margin: auto;
  }
  footer .info .dublicateForm .checkbox-custom {
    position: absolute;
    left: -15px;
    top: 8px;
  }
  footer .info .dublicateForm label {
    margin: auto;
    position: relative;
  }
  .result-slider .slide-text p, .result-slider .number-slide p {
    height: 30px;
  }
  .pager-section {
    padding: 30px 0 15px 15px;
  }

  /*.portfolio-item a .portfolio-image-block {*/
    /*visibility: visible;*/
    /*opacity: 1;*/
    /*background-color: transparent;*/
  /*}*/
  .portfolio-image-discription {
    top: 85%;
    /*background-color: rgba(0,0,0,0.7);*/
    padding: 15px 30px;
  }
  .portfolio-image-block .pid-title {
    margin-bottom: 0;
  }

  .portfolio-image-block .pid-text {
    display: none;
  }
  .focusTextAlign {
    text-align: center;
  }
  .message button {
    width: calc(100% - 135px) !important;
	  margin-top: 15px;
  }
  .message a {
    margin-bottom: 15px;
    /*float: left;*/
  }
  footer .icon {
    margin: auto;
    display: flex;
    width: 190px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer  .info .h4 {
    padding-top: 50px;
  }
  .dublicateForm input {
    width: 60% !important;
  }
  .result-slider .slide-text p, .result-slider .number-slide p {
    height: 50px;
  }
  .pager-section {
    padding: 274px 0 104px;
  }

  .portfolio-item a .portfolio-image-block {
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*background-color: rgba(0,0,0,0.7);*/
  }
  .portfolio-image-discription {
    top: 85%;
    background-color: transparent;
    padding: 15px 30px;
  }
  .portfolio-image-block .pid-title {
    margin-bottom: 0;
  }

  .portfolio-image-block .pid-text {
    display: block;
  }
  .services .row-space {
    max-height: 320px;
  }
  .message button {
    width: 100% !important;
    margin-top: 14px;
  }
  .message a {
    margin-bottom: 0;
    float: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .focusNav {
    height: 106px;
  }
  .footerLogo {
    text-align: left;
  }
  footer  .info .h4 {
    padding-top: 0;
  }
  footer .info p a {
    text-align: left;
  }
  .popup.city-choice {
    right: 8vw;
  }
  .focusTextAlign {
    text-align: left;
  }
  .portfolio-item a {
    min-height: auto;
  }
  .message button {
    margin-top: 0;
  }
  /* Footer */
  .h3Contacts {
    margin-top: 25px;
    margin-bottom: 15px !important;
  }
  .h3RssNews {
    margin-top: 35px !important;
    margin-bottom: 15px !important;
  }
  footer .icon {
    margin: auto;
    display: flex;
    width: auto;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .popup.city-choice {
    right: 9vw;
  }
}

/* Extra Large devices (large desktops, 1920px and up) */
@media (min-width: 1920px) {
  .popup.city-choice {
    right: 20vw;
  }
}
/* Retina devices (large desktops, 2560px and up) */
@media (min-width: 2560px) {
  .popup.city-choice {
    right: 28vw;
  }
}
/* framework */
.navbar-fixed-top {
  position: fixed !important;
}
header .navbar-fixed-top ul.navbar-right {
  margin-right: 15px !important;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 100vh;
}
/* Edit */
.result-company {
  padding-top: 35px;
}
.portfolio {
  /*padding-bottom: 0;*/
}
.result-slider {
  /*margin-bottom: 30px;*/
}
h3 {
  padding: 0 15px;
}
.newEmployee img {
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.newEmployee:hover img {
  opacity: 0.5;
}
.transition {
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.theytrustus {
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.theytrustus:hover {
  opacity: 0.5;
}

#ajaxWindow .modal-header {
  padding: 20px 0;
  border-bottom: 1px solid transparent;
}
#ajaxWindow .modal-body {
  padding: 9px 30px 55px 30px;
}
#ajaxWindow .modal-body h2 {
  font-family: Circe;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.31;
  margin-bottom: 2px;
  margin-top: 23px;
}
#ajaxWindow .modal-body span {
  font-family: Circe;
  font-size: 16px;
  line-height: 1.63;
}
#ajaxWindow .close_order {
  display: block;
  background: url(../img/main/close.png) no-repeat;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  background-position: 0 -15px;
  width: 13px;
  height: 13px;
  border-radius: 0;
  opacity: 0.6;
  z-index: 5;
}
#ajaxWindow .close_order:hover {
  opacity: 1;
  background-position: 0 0;
}
.post-detail h3, .post-detail p {
  padding: 0;
}
.more-design .name-step h3 {
  padding: 0;
  margin-bottom: 10px;
}
.popup.order-call textarea.form-input {
  width: 100%;
}

.certificate .text {
  font-weight: 300;
}
.popup.city-choice {
  position: fixed;
}
/* Cookie Disclaimer */
  .message {
    background-color: rgba(30,51,70,1);
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
    padding: 15px 0;
  }
  .message p {
    color: #fff;
    font-size: 16px;
    padding-top: 15px;
    font-weight: 300;
  }
  .message a {
    color: #f85b30;
    border-bottom: solid 1px #f85b30;
  }
  .message a:hover {
    text-decoration: none;
    opacity: 0.7;
  }
  .message button {
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    width: 100%;
    padding: 11px;
    text-transform: uppercase;
    border-radius: 50px;
  }
  .message button:hover {
    position: relative;
	top:-1px;
  }
  .message form {
    display: none;
  }
  #toTop {
    bottom: 20px;
  }
  #toTop:hover {
    opacity: 0.7;
  }
  .transition {
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
  }
  .opacity0 {
    opacity: 0;
  }
.navbar>.container .navbar-brand {
  padding: 4px 0px 0 58px;
}

footer .icon img {
    width: 40px;
    outline: none !important;
    padding: 10px;
    margin-bottom: 0;
    float: left;
}
footer .icon a {
  color: #263346;
  float: left;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
#link_vk img {
  margin-top: 4px;
}
#link_vk:hover {
  background-color: #4c75a3;
}
#link_fc:hover {
  background-color: #3b5998;
}
#link_i:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcc06c+0,e0396c+50,a434ad+100 */
  background: #fcc06c; /* Old browsers */
  background: -moz-linear-gradient(45deg, #fcc06c 0%, #e0396c 50%, #a434ad 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #fcc06c 0%,#e0396c 50%,#a434ad 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #fcc06c 0%,#e0396c 50%,#a434ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc06c', endColorstr='#a434ad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#link_te img {
  margin-top: 2px;
}
#link_te:hover {
  background-color: #26a6dc;
}

.arrow_link {
    height: 47px;
    width: 47px;
    background-image: url(arrow.svg);
    background-size: 67px;
    background-position: -33px center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: solid 2px #ff5135;
    float: left;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 100%;
    cursor: pointer;
}
.services a:hover {
	text-decoration: none;
}
.info-block:hover .arrow_link {
  background-position: 9px center;

    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
}

/* Preloader */
.preloaderLeft {
	display:none;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    top: 0;
    bottom: 0;
    background-color: #000;
}
.preloaderLeftOpened {
	right: 100% !important;
}
.transitionPreloader {
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}
.orangeLink, .orangeLink:hover {
	color: #ff5135;
}

footer .sp-link {
  display: none;
}
.gif-ny {
  width: 90px !important;
  height: 40px !important;
  position: absolute;
  top: 9px;
  left: -36px;
}
header .navbar-brand {
  position: relative;
}
@media (max-width: 1319px) {
  .gif-ny {
    display: none !important;
  }
}