/* ------------------------------FONTS--------------------------------- */
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Cirle/Circe-Regular.eot');
	src: url('../fonts/Cirle/Circe-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cirle/Circe-Regular.woff2') format('woff2'),
	url('../fonts/Cirle/Circe-Regular.woff') format('woff'),
	url('../fonts/Cirle/Circe-Regular.ttf') format('truetype'),
	url('../fonts/Cirle/Circe-Regular.svg#Circe-Light') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Cirle/Circe-Light.eot');
	src: url('../fonts/Cirle/Circe-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cirle/Circe-Light.woff2') format('woff2'),
	url('../fonts/Cirle/Circe-Light.woff') format('woff'),
	url('../fonts/Cirle/Circe-Light.ttf') format('truetype'),
	url('../fonts/Cirle/Circe-Light.svg#Circe-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Cirle/Circe-Bold.eot');
	src: url('../fonts/Cirle/Circe-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cirle/Circe-Bold.woff2') format('woff2'),
	url('../fonts/Cirle/Circe-Bold.woff') format('woff'),
	url('../fonts/Cirle/Circe-Bold.ttf') format('truetype'),
	url('../fonts/Cirle/Circe-Bold.svg#Circe-Light') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Cirle/Circe-ExtraBold.eot');
	src: url('../fonts/Cirle/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cirle/Circe-ExtraBold.woff2') format('woff2'),
	url('../fonts/Cirle/Circe-ExtraBold.woff') format('woff'),
	url('../fonts/Cirle/Circe-ExtraBold.ttf') format('truetype'),
	url('../fonts/Cirle/Circe-ExtraBold.svg#Circe-Light') format('svg');
	font-weight: 900;
	font-style: normal;
}
/* ------------------------------CROSSBROUSER--------------------------------- */
input:focus::-webkit-input-placeholder { color:#fff; }
input:focus:-moz-placeholder { color:#fff; } /* FF 4-18 */
input:focus::-moz-placeholder { color:#fff; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:#fff; } /* IE 10+ */

/*scroll-bar*/
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #b2b2b2;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #ededed;
}
body,html  {
	overflow-x: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	font-family: 'Circe', sans-serif;
}

img{
  max-width:100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
 
}

blockquote, q {
quotes: none;
    margin: 20px;
    padding-left: 16px;
    border-left: 5px solid #f85732;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
button,
textarea {
  outline: none;
}


.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

button {
  background-color: transparent;
  border: none;
}

.row:after,
.wrapper:after,
.clearfix:after,
.super-wrapper:after {
  content: '';
  clear: both;
  display: block;
}

a:focus,
a:active {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

a:hover {
	color: inherit;
  text-decoration: underline;
  transition: all 0.3s;
}

.left {
  float: left;
}

.right {
	float: right;
}

a, button, input[type="submit"] {
  transition: all 0.3s;
}

textarea{
 resize:none;
}

::-webkit-input-placeholder {
  color: #989ca1;
}

::-moz-placeholder {
  color: #989ca1;
}

:-moz-placeholder {
  color: #989ca1;
}

:-ms-input-placeholder {
  color: #989ca1;
}

header .container{
	width:100%; 
	max-width: 1257px;
}



h2{
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 25px;
	line-height: 52px;
}

.discription{
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 55px;
}

.row-sapce{
	margin-bottom: 35px;
}

.row-sapce-top{
	margin-top: 30px;
}

.img-responsive{
	display: inline-block;
}
/*base tags*/

.direction a {
	color: #1a242d;
	border-bottom: 1px solid #1a242d;
	transition: 0.5s;
}

.direction a:hover {
	text-decoration: none;
	color: #F34026;
	border-color: #F34026;
}
h3 {
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-size: 22px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 15px;
}
h4 {
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;
	margin-bottom: 15px;
}
h5 {
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	margin-bottom: 15px;
}
h6 {
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 15px;
}
p {
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
	/*line-height: 28px;*/
}
/*end base tags	*/
/* ------------------------------MAIN--------------------------------- */

/* ------------------------------HEADER--------------------------------- */
.navbar-default {
	box-shadow: 0 3px 5px rgba(16,19,41,.2) !important;
	position: relative;
	z-index: 999;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand{
	margin-top: 25px;
}

.navbar-default .navbar-collapse{
	text-align: center;
}

.navbar-default .navbar-nav{
	/*display: inline-block;*/
	/*float: none;*/
	padding: 0 0 0 55px;
}

.navbar-default .navbar-nav li a.head-phone{
	font-size: 24px;
	padding-bottom: 3px;
	padding-right: 0;
	padding-left: 26px;
	margin-right: -18px;
}

.navbar-default .navbar-nav>li>a.head-phone:hover{
	text-decoration: none;
	color: #1a242d;
}

header .navbar-default{
	background-color: #fff;
	background-image: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding-bottom: 18px;
	margin: 0;
}
.navbar>.container .navbar-brand {
	padding: 15px 0px 0 58px;
}
.navbar>.container .navbar-brand img {
	width: 298px;
	height: 45px;
}
header i{
	color: #f34128;
	margin-left: 8px;
	font-size: 18px !important;
}

.call-back{
	text-align: right;
	margin-right: -8px;
}

.navbar-default .navbar-nav>li>a{
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}
header .navbar-nav>li.dropdown a:hover header .navbar-nav>li.dropdown > .dropdown-menu {
	display: block;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #F34026;
	text-decoration: none;
}
.navbar-default .navbar-nav>li>a:hover .dropdown-menu {
	display: block;
}
.dropdown-menu>li>a {
	font-size:15px;
	padding: 4px 20px;
}
.navbar-default .navbar-nav>li>a.location{
	border-bottom: 1px dashed #f85831;
	color: #f85831;
	font-family: 'Circe', sans-serif;
	font-size: 14px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 1px;
	padding-top: 12px;
}

.navbar-default .navbar-nav>li>a.location:hover{
	border-bottom: 1px dashed #F34026;
	text-decoration: none;
	color: #F34026;
}

.navbar-default .navbar-nav>li>.call-back a{
	color: #989ca1;
	font-family: 'Circe', sans-serif;
	font-size: 14px;
	border-bottom: 1px dashed;
	font-weight: 300;
	margin-right: -10px;
	cursor: pointer;
}

.navbar-default .navbar-nav>li>.call-back a:hover{
	color: #f85831;
	text-decoration: none;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:active,
.navbar-default .navbar-nav>.open>a:focus{
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	color: #F34026;
	text-decoration: none;
}

.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover,
.nav .open>a:ative{
	background-color: transparent;
	border-color: transparent;
}

.nav>li>a{
	padding: 15px 11px;
}
header ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm {
	padding: 0;
	margin-right: 0;
}
.img-responsive{
	display: inline-block;
}

/* -------------------------------SECTION-TRUST------------------------------ */
.trust{
	background-color: #fff;
	padding: 80px 0;
}

.trust .discription{
	margin-bottom: 95px;
}

.contact-us{
	background-color: #efefef;
	padding: 67px 0 64px;
}

.contact-us .form-control{
	background-color: #fff;
	border: none;
	border-radius: 0;
	box-shadow: none;
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-size: 20px;
	color:#989ca1;
	font-weight: 300;
}

.contact-us .form-control:focus{
	    /*box-shadow: inset 2px 2px 3px rgba(243,64,38,.075);*/
}

.contact-us .form-control.form-name{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 2px;
}

.contact-us .form-control.form-tel{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 26px;
}
.contact-us .my-btn-2 {
	font-weight: 600;
	letter-spacing: 0.5px;
	border-width: 2px;
	border-radius: 30px;
	background-color: #f85831;
	background-position: center center;
	border-color: #f85831;
	border-style: solid;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	width: 100%;
	padding: 10px 0;
	font-size: 18px;
}
.contact-us .my-btn-2:hover {
	background-color: #efefef;
	border-color: #f85831;
	color: #f85831;
}
.contact-us form {
	position: relative;
}
.contact-us .checkbox-wrap {
	position: relative;
	left: -42px;
	width: 452px;
	bottom: -38px;
}
.checkbox{
    display: none;
}
.checkbox-custom{
	background-color: #03a9f4;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    margin-top: -2px;
    margin-right: 10px;
    position: relative;
}
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox:checked + .checkbox-custom::before {
    content: "\2713";
    display: block;
    position: absolute;
    color: #fff;
    top: -1px;
    right: 2px;
    left: 2px;
    border-radius: 2px;
}

.contact-us label{
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 55px;
}

.contact-us label a{
	color: #1a242d;
	/*text-decoration: underline;*/
	border-bottom:1px solid #1a242d;
}

.contact-us label a:hover{
	text-decoration: none;
	color: #F34026;
	border-color: #F34026;
}

.contact-us p a{
	color: #989ca1;
	font-family: 'Circe', sans-serif;
	font-size: 14px;
	display: inline-block;
	margin-top: 35px;
	border-bottom: 1px dashed #989ca1;
}

.contact-us p a:hover{
	border-bottom: 1px dashed #F34026;
	text-decoration: none;
	color: #F34026;
}

.my-btn-2{
	background-color: #f34026;
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 18px;
	outline: none;
	padding: 20px 25px;
	text-transform: uppercase;
}

.my-btn-2:hover,
.my-btn-2:active,
.my-btn-2:focus{
	background-color: #c2230a;
	color: #fff;
	outline: none;
}
.certificate {
	padding: 92px 0 94px;
}
.certificate .text {
	margin-top: 20px;
	margin-bottom: 20px;
}
.row-certificate {
	margin-bottom: 0px;
}

/* -------------------------------FOOTER------------------------- */
footer{
	background-color: #263346;
	padding: 48px 0;
}
footer  .info .h4 {
	font-size: 22px;
}
footer .info p a {
	font-size: 18px;
}
footer .info p a:hover {
	text-decoration: none;
	color: #f85831;
}
footer .icon-right-list a {
	display: inline-block;
}

footer .info img {
	margin-bottom: 20px;
	max-width: 298px;
}
footer .icon-right-list  img {
	margin-bottom: 17px;
	width: 23px;
	margin-right: 15px;
}
footer .addres-title {
	/*margin-bottom: 15px;*/
}
footer .row-sapce {
	margin-bottom: 33px;
}
footer .position-icon img {
	width: 32px;
}
.info ul{
	list-style: none;
	padding: 0;
}

.info img{
	margin-bottom: 70px;
}

.info p a{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 14px;
}

.info p{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
	white-space: nowrap;
}

.info .our-contacts a{
	color: #fff;
}

.info .our-contacts a:hover{
	text-decoration: underline;
}

.info .our-contacts p i{
	margin-right: 15px;
}

.info .our-contacts p span{
	margin-left: 24px;
}

.info .row-sapce{
	margin-bottom: 70px;
}

.info label{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 12px;
}

.info label a{
	color: #fff;
	text-decoration: underline;
}

.info label a:hover{
	text-decoration: underline;
	color: #F34026;
}

.info .checkbox-custom{
    width: 11px;
    height: 11px;
    border-radius: 3px;
    margin-top: -2px;
    margin-right: 10px;
}

.info .form-control.form-email{
	height: 47px;
	width: 60%;
}

.info .form-inline{
	margin-bottom: 10px;
}

.my-btn-1{
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 12px;
	outline: none;
	padding: 13px 15px;
	text-transform: uppercase;
}

.my-btn-1:hover,
.my-btn-1:active,
.my-btn-1:focus{
	background-color: #fff;
	border: 2px solid #fff;
	color: #F34026;
	outline: none;
}

footer .info .lists a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
}
footer .no-padding {
	padding: 0;
}
footer .info label {
	font-size: 18px;
}
footer .our-contacts p {
	font-size: 18px;
	font-weight: 300;
}
.info .lists a:hover{
	color: #fff;
	text-decoration: underline;
}

.info .lists .h4{
	margin-top: 65px;
	margin-bottom: 30px;
}
footer .info .lists .h4 {
	margin-top: 15px;
}
.info .h4 {
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 30px;
}

.info .lists .h4 a{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.info .lists li{
	margin-bottom: 10px;
}
footer .my-btn-1 {
	color: #ffffff;
	font-size: 14px;
	font-family: 'Circe';
	line-height: 1.55;
	font-weight: 600;
	border-width: 2px;
	border-radius: 30px;
	background-color: #263346;
	background-position: center center;
	border-color: #ffffff;
	border-style: solid;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	margin-left: 7px;
}
footer .info .checkbox-custom {
	font-size: 11px;
}
footer .checkbox-wrap {
	position: absolute;
	width: 460px;
}
footer .info .lists a:hover {
	text-decoration: none;
	color:#f85831;
}
footer .info .our-contacts a:hover {
	text-decoration: none;
}
footer .my-btn-1:hover {
	background-color: #f85831;
	border-color: #f85831;
	color:#fff;
}
.info.row-sapce{
	margin-bottom: 35px;
}

.info svg .st0{
	fill: none;
	stroke-width: 1px;
	stroke: #fff;
}

.info svg{
	width: 23px;
	margin-right: 15px;
}

.social-btn .mid{
	margin: 0 20px;
}

.social-btn svg{
	width: 32px;
	border-radius: 50%;
	margin-right: 0;
}
.social-btn .position-icon{
	text-align: left;
}

.social-btn .fst svg .st0{
	fill: #54769D;
	stroke: #54769D;
}

.social-btn .mid svg  .st0{
	fill: #336699;
	stroke: #336699;
}

.social-btn svg  .st0{
	stroke: url(#SVGID_1_);
}

.copy p{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
	font-weight: 300;
}

/* --------------------------------------RESULT-------------------------------------- */
.result-slider{
	background: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	padding: 67px 0 42px;
}

.result-slider h2{
	color: #fff;
	margin-bottom: 65px;
}

.result-slider .h4{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 22px;
	margin: 40px 0 20px;
	text-align: right;
}

.result-slider p{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
	text-align: right;
	font-weight: 300;
}

.result-slider p span{
	font-size: 21px;
	padding: 1px 0;
	display: block;
	text-align: left;
	font-family: 'Circe', sans-serif;
	font-weight: 700;

}
.result-slider .slide-text p {
	padding: 3px 0;
}
.result-slider .number-slide {
	padding: 0;
}
.result-slider .owl-theme .owl-dots .owl-dot span{
	background-color: #f34026;
}
.result-slider .owl-carousel .owl-nav .owl-prev {
	left: -60px;
	top: 36%;
}
.result-slider .owl-carousel .owl-nav .owl-next {
	right: -60px;
	top: 36%;
}
.owl-theme .owl-dots .owl-dot.active span{
	background-color: transparent;
	height: 14px;
	width: 14px;
	margin-bottom: 3px;
	border: 4px solid #fff;
}

.owl-theme .owl-nav [class*=owl-]{
	background-color: transparent;
	width: 45px;
	position: absolute;
	top: 50%;
	margin: 0;
	margin-top: -25px;
}

.owl-theme .owl-nav [class*=owl-]:hover{
	background-color: transparent;
	color: #fff;
}

.owl-carousel .owl-nav .owl-prev{
	left: 0;
}

.owl-carousel .owl-nav .owl-next{
	right: 0;
}



.result-slider .st0{
	fill: #fff;
	stroke: none;
	width: 42px;
}

/* --------------------------------------FEEDBACK-------------------------------------- */
.feedback-slider{
	background-color: #efefef;
	padding: 70px 0 76px;
}

.feedback-slider h2{
	margin-bottom: 46px;
}

.feedback-slider p{
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 35px;
	color:#1a242d;
	/*
	padding: 0 15px;
	*/
}

.feedback-slider .person,
.feedback-slider .person-pos{
	color: #989ca1;
	margin: 0;
}

.feedback-slider img {
	margin-bottom: 20px;
}

.feedback-slider a{
	color: #f34026;
	text-decoration: none;
}

.feedback-slider a:hover{
	color: #f34026;
	text-decoration: underline;
}

.feedback-slider .person{
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	/*text-transform: uppercase;*/
}
.feedback-slider .container .owl-item {
	/*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);*/
}
.feedback-slider .container .item{
	padding-top: 56px;
	padding-bottom: 50px;
	background-color: #fff;
  margin: 0px;

	-webkit-transition: box-shadow .3s ease-in-out;
	padding-left: 10px;
    padding-right: 10px;
	border-radius: 5px;
	box-shadow: 0px 3px 5px 0px rgba(20, 26, 54, 0.2);
}
.feedback-slider .container .shadow-block {
	margin-bottom: 10px;
}
.feedback-slider .container .item .item-pos {
	padding-left: 6px;
	padding-right: 45px;
}
.feedback-slider .owl-carousel .owl-nav .owl-next{
	right: -58px;
}

.feedback-slider .owl-carousel .owl-nav .owl-prev{
	left: -58px;
}

.feedback-slider .owl-theme .owl-nav [class*=owl-]{
	background-color: transparent;
	width: 45px;
	position: absolute;
	top: 45%;
	margin-top: -25px;
}


.feedback-slider .owl-theme .owl-dots .owl-dot span{
	background-color: #989ca1;
}

.feedback-slider .owl-theme .owl-dots .owl-dot.active span{
	background-color: transparent;
	height: 14px;
	width: 14px;
	margin-bottom: 3px;
	border: 4px solid #f34026;
}

.owl-theme .owl-dots{
	margin-top: 17px;
	position: relative;
	bottom: -18px;
}

.feedback-slider .st0{
	fill: #989ca1;
	stroke: none;
	width: 42px;
}

.owl-carousel .owl-item img{
	display: inline-block;
	max-width: 360px;
}
.result-company {
	padding-top: 105px;
	padding-bottom: 120px;
}
.result-company h2 {
	font-size: 36px;
	line-height: 1.23;
	margin-bottom: 15px;
}
.result-company #result-company {
	margin-top: 45px;
}
.result-company #result-company img {
	max-width: 100% !important;
}
.result-company #result-company .text-slide {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.35;
	padding: 14px 0;
	text-align: center;
	margin-top: 15px;
}
.result-company #result-company .owl-prev {
	width: 40px;
	height: 40px;
	background-color: rgba(238,238,238,1);
	border-radius: 50%;
	text-align: center;
	padding: 10px 14px;
	transition: 0.5s;
}
.result-company #result-company .owl-prev:hover {
	border-color: #ffffff !important;
	background-color: rgba(248,88,49,1) !important;
}
.result-company #result-company .owl-prev:hover svg polyline{
	stroke: #fff !important;
}
.result-company #result-company .owl-prev svg {
	width: 10px;
	transform: rotate(-180deg);
	transition: 0.5s;
}
.result-company #result-company .owl-next {
	width: 40px;
	height: 40px;
	background-color: rgba(238,238,238,1);
	border-radius: 50%;
	text-align: center;
	padding: 10px 16px;
}
.result-company #result-company .owl-next svg{
	width: 10px;
	transition: 0.5s;
}
.result-company #result-company .owl-next svg polygon {

}
.result-company #result-company .owl-next:hover {
	border-color: #ffffff !important;
	background-color: rgba(248,88,49,1) !important;
}
.result-company #result-company .owl-next:hover svg polyline{
	stroke: #fff !important;
}
/* --------------------------------------PORTFOLIO-------------------------------------- */
.portfolio{
	padding-bottom: 98px;
	padding-top: 67px;
}
.portfolio h2 {
	margin-bottom: 50px;
}
.portfolio .row-space{
	margin-bottom: 10px;
}

.my-btn-3{
	background-color: transparent;
	border: 2px solid #f34026;
	color: #f34026;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 12px;
	outline: none;
	padding: 15px 25px;
	text-transform: uppercase;
	margin-top: 55px;
}

.my-btn-3:hover,
.my-btn-3:active,
.my-btn-3:focus{
	background-color: #c2230a;
	border: 2px solid #c2230a;
	color: #fff;
	outline: none;
}

.portfolio-item a{
	position: relative;
	display: inline-block;
	max-width: 372px;
	overflow: hidden;
	min-height: 240px;
}
.portfolio-item a img{
	display: block;
	border-radius: 5px;
}
.portfolio-item a:after{
	content: none !important;
}
.portfolio-item a:hover .portfolio-image-block{
	/*top:0;*/
	opacity: 1;
	visibility: visible;
	animation-play-state: running;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.portfolio-image-block{
	position: absolute;
	top:0;
	left:0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	border-radius: 5px;
}
.portfolio-image-discription{
	position: absolute;
	top:100%;
	display: inline-block;
	transition: 0.2s;
	transition-delay: 0.1s;
	transform: translateY(-50%);
	width: 100%;
	padding: 0 30px;
}
.portfolio-item a:hover .portfolio-image-block .portfolio-image-discription {
	top: 33%;
}
.portfolio-image-block .pid-title{
	font-family: 'Circe', sans-serif;
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
}
.portfolio-image-block .pid-text{
	font-family: 'Circe', sans-serif;
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;
}
.portfolio .my-btn-3 {
	color: #f85831;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
	border-radius: 30px;
	background-color: #ffffff;
	background-position: center center;
	border: 2px solid #f85831;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	padding: 15px 60px;
}
.portfolio .my-btn-3:hover {
	background-color: #f85831;
	border-color: #f85831;
	color: #ffffff;
}
.portfolio .row-sapce {
	margin-bottom: 21px;
	min-height: 241px;
}

/* --------------------------------------ADVENTAGES-------------------------------------- */
.advantage{
	background-color: #fff;
	padding: 0 0 77px;
}

.advantage .adv-icon{
	position: relative;
}

.advantage .adv-icon p{
	color: #dadfe4;
	font-family: 'Circe', sans-serif;
	font-weight: 900;
	font-size: 152px;
	margin: 0;
	vertical-align: top;
	line-height: 0.7;
}

.main-content .advantage .adv-icon svg .st0{
	fill: #f34026;
	stroke-width: 0.5;
}


.main-content .advantage .adv-icon svg{
	height: 95px;
	width: 95px;
	position: absolute;
	top: 40%;
	left: 50%;
}

.advantage p,
.services p{
	font-family: 'Circe', sans-serif;
	font-size: 18px;
	color: #1a242d;
	margin-top: 60px;
	padding: 0 37px;
	font-weight: 300;
}

.advantage h2{
	margin-bottom: 65px;
	padding: 67px 0 0px;
}


/* --------------------------------------SERVICES-------------------------------------- */
.services{
	background-color: #efefef;
	padding: 67px 0 85px;
}
.services h2 {
	margin-bottom: 19px;
}
.services .info-block{
	background-color: #fff;
	padding: 28px 31px;
	text-align: left;
	max-width: 375px;
	margin: 0 auto;
	display: block;
	box-shadow: 0px 3px 8px 0 rgba(193,198,207,1);
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    min-height: 270px;
	border-radius: 5px;
}
.services .info-block a:hover {
	text-decoration: none;
}
.services .info-block p {
	margin-top: 00px;
	padding: 0;
}
.services .more-link {
	display: block;
	margin-top: 50px;
	font-size: 16px;
	font-weight: 300;
	color:#f85831;
	text-decoration: none;
}
.services .info-block:hover{
	-webkit-box-shadow:0 10px 25px 0 rgba(193,198,207,1);
	-moz-box-shadow:0 10px 25px 0 rgba(193,198,207,1);
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10) ;
	text-decoration: none;
}

.services .service-title {
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #1a242d;
	/*margin-top: 35px;*/
	margin-bottom: 13px;
}

.services .row-space{
	margin-bottom: 25px;
}

.services svg .st0{
	fill: none;
	stroke: #F75831;
}

.services svg{
	width: 65px;
}

/* --------------------------------------BANER-------------------------------------- */
.baner{
	background: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	padding: 47px 0;
	position: relative;
	background: url(../img/main/bg_slide.png) no-repeat;
	background-size: cover;
}

.baner h1{
	font-family: 'Circe', sans-serif;
	font-size: 46px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 24px;
	padding-left: 34px;
	padding-right: 114px;
	line-height: 1.2;
}
.baner span{
	font-family: 'Circe', sans-serif;
	font-size: 46px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 24px;
	/*padding-left: 34px;*/
	padding-right: 114px;
	line-height: 1.2;
}


.baner p{
	font-family: 'Circe', sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	/*line-height: 29px;*/
}

.baner .baner-disc{
	font-size: 22px;
	margin-bottom: 40px;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	padding-left: 34px;
	padding-right: 0;
	line-height: 1.5;
}

.baner .count{
	font-size: 95px;
}


.baner .count-2{
	margin-left: -40px;
	font-size: 95px;
}

.baner .bg-laptop{
	/*background: url('../img/main/laptop-bg.png') no-repeat transparent;*/
	height: 535px;
    position: absolute;
    right: 0;
	bottom: -57px;
    z-index: 0;
}
.baner .bg-laptop img {
	display: inline-block;
	width: auto;
}
.baner .bg-laptop a {
	cursor: pointer;
	position: absolute;
	top: 31px;
	left: 116px;
}
.floating-pointer {
	position: absolute;
	top: 308px;
	left: 199px;
}
.floating-pointer {
	-webkit-animation: mover 1.5s infinite  alternate;
	animation: mover 1.5s infinite  alternate;
}
.floating-pointer {
	-webkit-animation: mover 1.5s infinite  alternate;
	animation: mover 1.5s infinite  alternate;
}
@-webkit-keyframes mover {
	0% { transform: translateY(0); }
	100% { transform: translateY(-70px); }
}
@keyframes mover {
	0% { transform: translateY(0); }
	100% { transform: translateY(-70px); }
}
.col-text {
	float: left;
	text-align: left;
	padding: 17px 0 0 20px;
	line-height: 1.6;
}
.baner .col-number {
	float: left;
	padding-left: 42px;
}
.baner .col-xs-5 .col-number{
	padding-left: 60px;
}
.baner .col-xs-3 .col-number{
	padding-left: 10px;
}
.direction{
	padding-bottom: 80px;
	padding-top: 80px;
}

.direction h2{
	margin-bottom: 65px;
}
.post-detail h2 {
	margin-bottom: 20px !important;
	padding: 0 !important;

}
.post-detail img {
	/*display: block;*/
	/*width: 100%;*/
}
.post-detail h2:before {
	display: none;
}
.direction p{
	color: #1a242d;
/*	margin-bottom: 40px;*/
	margin-bottom: 30px;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
}

.direction .row-space{
	margin-bottom: 45px;
}

.profit .st0,
.profit .st1{
	fill: #F75831;
}

.profit svg{
	width: 75px;
}

.profit h5{
	color: #1a242d;
	margin: 45px 0;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 24px;
}

.profit p{
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
}

.profit .long{
	margin: 32px 0;
}

.profit h2{
	margin-bottom: 35px;
}

.text{
	margin-bottom: 35px;
	margin-top: 140px;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
}

.banner-about{
	background: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	-webkit-background-size: cover;
	background-size: cover;
	/*background: url("../img/main/test-bg1.jpg") no-repeat;*/
}

.banner-about .container{
	padding: 103px 0;
	position: relative;
}

.banner-about h1{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 46px;
	font-weight: 600;
	margin-bottom: 40px;
}

.banner-about .baner-disc{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 22px;
}

.banner-about .krosh{
	position: absolute;
	top: 35px;
	left: 15px;
}

.banner-about .krosh p{
	color: #fff;
}

.banner-about .krosh p a{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.banner-about .krosh p a:hover{
	/*text-decoration: underline;*/
	border-bottom:1px solid #fff;
}

.banner-about .krosh p i{
	margin: 0 10px;
}

.banner-about .krosh p span {
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;
}

.banner-about .row{
	margin: 0;
}

/**popup*/ 

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  cursor: default;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 99999;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.popup {
  background: #fff;
  background-size: 100%;
  display: inline-block;
  left: 50%;
  opacity: 0;
  position: fixed;
  top: 50%;
  visibility: hidden;
  z-index: 999999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s;
  border-radius: 6px;
  max-height: 100%;
  overflow: auto;
}
.popup.city-choice {
	-webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: absolute;
  top: 100px;
  right: 355px;
  width: 380px;
  left: inherit;
  border-radius: 10px;
  transition: all 0s;
	box-shadow: 0 3px 7px rgba(0,0,0,.35);
	padding: 25px 40px;
	text-align: center;
	overflow: visible;
}

.popup.city-choice .close_order {
	background: url('../img/main/close.png') 0 -15px no-repeat;

  top: 28px;
  right: 27px;
}

.popup.city-choice:before {
	content: '';
	display: inline-block;
	width: 36px;
	height: 20px;
	background: url('../img/main/popup-before.png') center no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -18px;
	top: -20px;
}

ul, ol {
    padding-left: 30px;
    margin-bottom: 20px;
}

.popup.city-choice ul {
	list-style: none;
}

.popup.city-choice .title p {
	color: #1a242d;
	font-size: 22px;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	margin: 0 0 15px;
}

.popup.city-choice ul {
	 line-height: 35px;
	padding: 0;
}

.popup.city-choice ul li a {
	color: #989ca1;
	font-size: 18px;
	font-family: 'Circe',sans-serif;
	font-weight: 300;
}

.popup.city-choice ul li a.active {
	color: #f34128;
}

.popup.city-choice ul li a:hover {
	color: #f34026;
	text-decoration: none;
}

.popup .close_order {
  display: block;
  background: url('../img/main/close.png') no-repeat;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
	background-position: 0 -15px;
  width: 13px;
  height: 13px;
  border-radius: 0px;
  opacity: 0.6;
}

.popup .close_order:hover {
  opacity: 1;
	background-position: 0 0px;
}

.popup.order-call {
	padding: 30px 70px;
	border-radius: 10px;
	text-align: center;
}

.popup.order-call .title p {
	color: #1a242d;
	font-size: 32px;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	margin: 0 0 60px;
}

.popup.order-call .form-input {
	display: table;
	margin: 0 auto ;
	width: auto;
	text-align: center;
	border: 2px solid #dadfe4;
	padding: 10px 15px;
	color: #989ca1;
	border-radius: 5px 5px 0 0;
	min-width: 355px;
}
.popup.order-call textarea.form-input {
	height: 100px;
	border-top: none;
	border-radius: 0 0 0 0;
}
.popup.order-call .form-input[name='phone'] {
	border-radius: 0px 0px 5px 5px;
	border-top:0;
}
.popup.order-call .popup-btn {
	border-radius: 5px;
	background-color: #f85831;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	padding: 10px 15px;
	min-width: 360px;
	border: 2px solid transparent;
	margin: 30px 0 0;
	border-radius: 30px;
}

.popup.order-call .popup-btn:hover {
	background: transparent;
	border: 2px solid #f33f25;
	color: #f33f25;
}

.popup.order-call .form-input::-webkit-input-placeholder {
  color: #989ca1 !important;
}

.popup.order-call .form-input::-moz-placeholder {
  color: #989ca1 !important;
}

.popup.order-call .form-input:-moz-placeholder {
  color: #989ca1 !important;
}

.popup.order-call .form-input:-ms-input-placeholder {
  color: #989ca1 !important;
}

.popup.order-call.thnx {
	padding: 130px;
}

.popup.order-call.thnx .title p {
	margin: 0 0 20px;
}
.cta-banner {
	background-image: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	padding: 69px 0 71px;
	text-align: center;
	color: #ffffff;
	font-size: 32px;
}
.why-we-the-one {
	padding: 87px 0 109px;
}
.why-we-the-one .description {
	font-size: 22px;
	line-height: 34px;
	margin-bottom: 55px;
}
.why-we-the-one .why-wrap {
	padding-top: 50px;
}
.why-we-the-one .why-title {
	padding-bottom: 15px;
	font-size: 28px;
	font-family: 'Circe',sans-serif;
	font-weight: 600;
}
.why-we-the-one .why-text {
	font-size: 18px;
	font-weight: 300;
	color: #000;
	line-height: 1.55;
}
.why-profit {
	padding: 95px 0 50px;
}
.why-profit h2 {
	margin-bottom: 90px;
}
.why-profit .img-wrap {
	width: 55px;
	height: 55px;
	margin: 0 auto;
}
.why-profit .profit-title {
	margin-bottom: 14px;
	font-size: 22px;
	line-height: 30px;
	font-weight: 600;
}
.why-profit .profit-text {
	font-weight: 300;
	color: #000;
	font-size: 18px;
	line-height: 1.55;
	margin-bottom: 55px;
}
.word-lead {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #efefef;
}
.word-lead .word-wrap {
	overflow: hidden;
	position: relative;
	font-size: 28px;
	line-height: 36px;
	font-weight: 700;
	padding:20px 0px 20px 0px;
	border-top:4px solid #000
}
.word-lead .word-wrap:before {
	/*position: absolute;*/
	/*top:0;*/
	/*left: 100px;*/
	/*width: 100%;*/
	/*height: 33px;*/
	/*background: url("../img/page/rectangle_up.svg") no-repeat;*/
	/*content: '';*/
}
.word-lead .word-wrap:after {

	/*position: absolute;*/
	/*bottom:-30px;*/
	/*left: 100px;*/
	/*width: 100%;*/
	/*height: 33px;*/
	/*background: url("../img/page/rectangle_down.svg") no-repeat;*/
	/*content: '';*/
}
.word-lead .bottom-line {
	overflow: hidden;
	width: 100%;
	height: 60px;
}
.word-lead .author-name {
	float: left;
}
.word-lead .author-img {
	float: left;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin-right: 20px;
	width: 80px;
	height: 80px;
}
.word-lead .lead-wrap {
	padding: 0 15px;
	margin-top: 60px;
}
.word-lead .lead-wrap img {
	border-radius: 50%;
}
.word-lead .lead-wrap .name {
	line-height: 22px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 3px;
}
.word-lead .lead-wrap .status {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1px;
	color:#000;
	font-weight: 300;
}
.direction {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.55;
}
.direction p{
	font-size: 20px;
	font-weight: 300;
	line-height: 1.55;
}
.direction h2 {
	position: relative;
	margin-bottom: 50px;
	line-height: 1.4;
	padding-top: 24px;
}
.direction h2:before {
	position: absolute;
	top:0;
	content: '';
	width: 100%;
	max-width: 240px;
	height: 1px;
	background-color: #000;

}
.step-to-step {
	padding-top: 75px;
	padding-bottom: 15px;
	background-color: #efefef;
}
.step-to-step h2 {
	margin-bottom: 105px;
}
.step-to-step .step-title {
	font-size: 22px;
	line-height: 30px;
	padding-bottom: 13px;
	font-weight: 600;
	color: #000;
	padding-left: 5px;
}
.step-to-step .step-text {
	font-weight: 300;
	color: #000;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 75px;
	padding-left: 5px;
}
.step-to-step .number-col {
	padding: 0;
}
.step-to-step .number-col .wrap{
	text-align: center;
	background-color: #f85831;
	color: #ffffff;
	display: block;
	width: 60px;
	height: 60px;
	font-size: 20px;
	line-height: 60px;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 50%;
}
.banner-with-img .container{
	padding: 103px 0 50px;
}
.right-context {
	padding-top: 75px;
	padding-bottom: 120px;
	text-align: center;
}
.right-context h2 {
	margin-bottom: 40px;
	line-height:50px;
}
.right-context .context-icon {
	margin-bottom: 25px;
}
.right-context .context-icon img {
	width: 100px;
}
.right-context .context-title {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 25px;
	margin-top: 12px;
	font-weight: 600;
}
.right-context .context-text {
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
	padding: 0 20px;
}
.services .description {
	font-size: 22px;
	line-height: 34px;
	text-align: center;
	margin-bottom: 90px;
}
.context-service h2 {
	margin-bottom: 20px;
}
.why-dev {
	background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(248,88,49,1)), to(rgba(249,147,35,1)) );
	background-image: -webkit-linear-gradient(top, rgba(248,88,49,1), rgba(249,147,35,1));
	background-image: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	padding: 81px 0 90px;
	text-align: center;
}
.why-dev h2 {
	margin-bottom: 105px;
	color:#fff;
}
.why-dev .dev-icon {
	text-align: center;
	margin-bottom: 35px;
}
.why-dev .dev-title {
	color: #ffffff;
	font-size: 22px;
	line-height: 1.55;
	font-weight: 600;
	margin-bottom: 25px;
}
.why-dev .dev-text {
	color: #ffffff;
	font-size: 18px;
	line-height: 1.55;
	font-weight: 300;
}
.step-by-dev {
	padding-top: 90px;
	padding-bottom: 105px;
}
.step-by-dev h2 {
	margin-bottom: 65px;
 }
.step-by-dev .inner {
	position: relative;
}
.step-by-dev .tree {
	position: absolute;
	width: 2px;
	top: 6px;
	background: #222;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 87%;
}
.step-by-dev .tree-title {
	font-size: 22px;
	line-height: 28px;
	margin-bottom: 6px;
	margin-top: 10px;
	font-weight: 600;
	color: #000;
}
.step-by-dev .tree-text {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
}
.step-by-dev .step-by-dev-item {
	position: relative;

}
.step-by-dev .step-by-dev-item.text-right{
	padding-right: 56px;
}
.step-by-dev .step-by-dev-item.text-left{
	padding-left: 56px;
}
.step-by-dev .step-by-dev-item.text-right .tree-number {
	left: 94%;
}
.step-by-dev .step-by-dev-item.text-left .tree-number {
	right: 94%;
}
.step-by-dev .tree-number {
	position: absolute;
	width: 46px;
	height: 46px;
	top: 5px;
	background: #f85831;
	border-radius: 50%;
	color:#fff;
	font-size: 20px;
	line-height: 1.35;
	font-weight: 600;
	padding: 10px 18px;
	border:1px solid #fff;
}
.owl-theme .owl-dots .owl-dot span {
	margin: 5px 12px;
}
.team {
	padding: 96px 0 126px;
	text-align: center;
}
.team .row-space {
	margin-bottom: 90px;
}
.team .team-item a {
	color:#000;
}
.team .team-item a:hover {
	text-decoration: none;
}
.team .team-item .img-wrap img{
	border-radius: 50%;
	width: 200px;
}
.team .team-item .name {
	margin: 12px 0 6px;
	color: #000000;
	font-size: 22px;
	line-height: 1.55;
	font-weight: 600;
}
.team .team-item .status {
	color: #7a7a7a;
	font-size: 14px;
	line-height: 1.6;
	font-weight: 400;
	margin-bottom: 20px;
}
.team .team-item .description {

}
.accordion {
	padding: 90px 0;
}
.accordion li {
	position: relative;
	list-style: none;
	border-top: 1px solid #eee;
	cursor: pointer;

	font-size: 24px;
	line-height: 1.35;
	font-weight: 600;
	color:#000;
}
.accordion .title-accordion {
	padding: 27px 50px 27px 0;
}
.accordion li:last-child {
	border-bottom: 1px solid #eee;
}
.accordion .accordion-body {
	display: none;
	font-size: 16px;
	line-height: 1.55;
	font-weight: 300;
	margin-bottom: 20px;
}
.btn-accordion {
	position: absolute;
	right: 0;
	top: 24px;
	width: 40px;
	height: 40px;
	padding: 8px;
	background: #fff;
	border-radius: 50%;
	transition: 0.5s;
}
.btn-accordion:hover {
	background: #eee;
}
.btn-accordion:focus {
	-moz-transform: rotate(15deg); /* Для Firefox */
	-ms-transform: rotate(15deg); /* Для IE */
	-webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
	-o-transform: rotate(15deg); /* Для Opera */
	transform: rotate(15deg);
}
.photo-office {
	padding: 75px 0;
}
.photo-office .vertical img {
	width: 100%;
	max-height: 747px;
}
.photo-office .extra-padding img{
	/*padding-bottom: 15px;*/
}
.open-vacancy {
	padding: 0px 0 90px;
}
.open-vacancy h2 {
	margin-bottom: 95px;
}
.advantage-for-work {
	padding: 96px 0;
}
.advantage-for-work h2 {
	margin-bottom: 95px;
}
.advantage-for-work .icon-wrap {
	text-align: center;
}
.advantage-for-work .icon-wrap img {
	width: 45px;
	height: 45px;
}
.advantage-for-work .icon-title {
	font-size: 22px;
	line-height: 1.35;
	padding-bottom: 8px;
	font-weight: 600;
}
.advantage-for-work .icon-text {
	font-size: 18px;
	font-weight: 300;
	color: #000;
}
.advantage-for-work .row-space {
	margin-bottom: 45px;
}
.ready {
	padding-top: 90px;
	padding-bottom: 105px;
	background-color: #efefef;
}
.ready .title-ready {
	margin-bottom: 25px;
	color: #000000;
	font-size: 48px;
	line-height: 1.23;
	font-weight: 600;
}
.ready .description-ready {
	font-size: 24px;
	line-height: 1.5;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
}
.ready .btn-ready {
	position: relative;
	margin-top: 70px;
	display: inline-block;
}
.ready .btn-ready .arrow {
	width: 45px;
	position: absolute;
	left: -30px;
	transform: translateX(-100%);
	top: -40px;
	bottom: 0;
	margin: auto;
}
.ready .btn-ready a {
	color: #ffffff;
	border: 2px solid #f85831;
	background-color: #f85831;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	font-size: 18px;
	padding: 14px 52px;
	text-align: center;
	font-weight: 600;
}
.ready .btn-ready a:hover {
	text-decoration: none;
	background-color: #ebebeb;
	color: #f85831;
	border-color: #f85831;
}
.blog-tale {
	padding-top: 90px;
	padding-bottom: 97px;
}
.blog-tale a:hover {
	text-decoration: none;
}
.blog-tale .img-blog {
	max-height: 235px;
	overflow: hidden;
}
.blog-tale .img-blog img {
	display: block;
	max-width: 100%;
}
.blog-tale .post-date {
	margin-top: 12px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 1px;
	color: rgb(119, 119, 119);
	text-transform: uppercase;
}
.blog-tale .post-title {
	margin-bottom: 12px;
	font-size: 26px;
	line-height: 1.23;
	font-weight: 600;
	color: #000;
}
.blog-tale .post-excerpt {
	color: #777;
	font-size: 16px;
	line-height: 1.55;
	font-weight: 300;
}
.blog-tale .row-space {
	margin-bottom:75px ;
}
.blog-tale .btn-more {
	text-transform: uppercase;
	color: #f85831;
	font-size: 16px;
	line-height: 1.55;
	font-weight: 600;
	letter-spacing: 0.5px;
	border-radius: 30px;
	background: #ffffff center center;
	border: 2px solid #f85831;
	padding: 11px 53px;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.blog-tale .btn-more:hover {
	 background-color: #f85831;
	 border-color: #f85831;
	 color: #ffffff;
 }
.step-to-design {
	padding: 110px 0;
}
.step-to-design h2 {
	margin-bottom: 90px;
}
.step-to-design .step-item {
	position: relative;
	text-align: center;
}
.more-design .step-1 .float-img {
	position: absolute;
	top: -189px;
	width: 1250px;
	height: 937px;
	left: -154px;
}
.more-design .step-2 .float-img {
	position: absolute;
	top: -137px;
	width: 1170px;
	left: -313px;
}
.more-design .step-3 .float-img {
	position: absolute;
	top: -255px;
	width: 1260px;
	left: -209px;
}
.more-design .step-4 .float-img {
	position: absolute;
	top: -137px;
	width: 1170px;
	left: -313px;
}
.step-to-design .step-item .arrow-right {
	position: absolute;
	max-width: 100px;
	display: inline-block;
	top: 22%;
	left: 0px;
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.step-to-design .step-item h2 {
	margin-bottom: 90px;
}
.step-to-design .step-item .img-icon img{
	width: 75px;
}
.step-to-design .step-item .title-icon {
	margin-top: 25px;
	font-size: 22px;
	line-height: 1.35;
	font-weight: 600;
	color: #000;
}
.step-to-design .step-item .description-icon {
	margin-top: 15px;
	font-size: 16px;
	line-height: 1.55;
	font-weight: 300;
	color: #000;
}
.more-design {
	padding: 90px 0 170px;
}
.more-design h2 {
	margin-bottom: 60px;
}
.more-design .arrow-down {}

.more-design .step-item {
	margin-top: 300px;
}
.more-design .step-item.step-1 {
	margin-top: 120px;
}
.more-design .number-step {
	border-radius: 3px;
	background: #f85831 center center;
	display: inline-block;
	width: auto;
	padding: 5px 15px;
	font-size: 14px;
	color:#fff;
	font-weight: 300;
	margin-bottom: 40px;
}
.more-design .name-step h3{
	color: #000000;
	font-size: 32px;
	line-height: 1.55;
	font-weight: 600;
	margin-bottom: 40px;
}
.more-design .text-step p{
	color: #000000;
	font-size: 18px;
	line-height: 1.55;
	font-weight: 300;
	margin-bottom: 30px;
}
.info-project {
	padding: 67px 0;

}
.info-project .container {
	background: url('../img/page/multi-devices.png') no-repeat center right;
	background-size: contain;
	height: 692px;
}
.info-project.o-termo-views .container {
	background: url('../img/page/o-termo_views.png') no-repeat center right;
	background-size: contain;
	height: 692px;
}
.info-project.impuls-views .container {
	background: url('../img/page/impuls-views.png') no-repeat center right;
	background-size: contain;
	/*height: 580px;*/
}
.info-project.balance-views .container {
	background: url('../img/page/balanc-views.png') no-repeat center right;
	background-size: auto;
	height: 801px;
}
.info-project.ur-views .container {
	background: none;
	position: relative;

}
.info-project.ur-views .container .float-img {
	position: absolute;
	right: 0;
	bottom: 0;
}
.info-project.max-views .container {
	background: none;
	position: relative;

}
.info-project.max-views .container .float-img {
	position: absolute;
	right: 0;
	bottom: 0;
}
.info-project.balance-views .container {
	background: none;
	position: relative;

}
.info-project.balance-views .container .float-img {
	position: absolute;
	right: 0;
	bottom: 0;
}
.info-project.impuls-views .container {
	background: none;
	position: relative;

}
.info-project.impuls-views .container .float-img {
	position: absolute;
	right: 0;
	bottom: 0;
}
.info-project .icon-text {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.56;
	text-align: left;
	color: #1a242d;
}
.info-project .icon-wrap {
	margin-bottom: 40px;
}
.task-block {
	padding: 56px 0 25px;
	background: #efefef;
}
.task-wrap .title {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 15px;
}
.task-wrap .text {
	font-size: 18px;
	font-weight: 300;
	margin: 0 0 34px;
}
.placeholder-bg .container{
	position: relative;
	height: 410px;
}
.placeholder-bg .pages {
	position: absolute;
	width: 938px;
	top:-268px;
	right: -129px;
}
.placeholder-bg.o-termo-placeholder .pages {
	top: -318px;
	right: -228px;
}
.placeholder-bg.ur-placeholder .pages {
	top: -187px;
	right: -156px;
}
.result-section.o-termo-result .float-img{
	top: -214px;
}
.result-section.impuls-result .float-img {
	top:-231px;
}
.result-section.ur-result .float-img {
	top:-211px;
}
.result-section.max-result .float-img {
	top: -217px;
	left: 219px;
}
.result-section {
	background-image: linear-gradient(to bottom, #f85831, #f99323);
	padding: 65px 0;
	color:#fff;
}
.result-section .container {
	position: relative;
}
.result-section .float-img {
	position: absolute;
	top:-160px;
}
.result-section .title {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 15px;
}
.result-section .text {
	margin: 0;
	font-size: 18px;
	font-weight: 300;
}
.pager-section {
	padding: 274px 0 104px;
}
.pager-section.no-padding {
	padding-top:0;
}
.pager-section .arrow {
	font-size: 22px;
	font-weight: 700;
}
.pager-section .arrow span {
	display: inline-block;
	vertical-align: top;
}
.pager-section .arrow a {
	color:#333;
}
.pager-section .arrow img {
	margin-right: 22px;
}
.pager-section .arrow-right img {
	margin-left: 22px;
}
.more-posts {
	padding: 0px 0 90px;
}
.more-posts a:hover {
	text-decoration: none;
}
.more-posts .post-img {
	/*max-height: 104px;*/
	overflow: hidden;
}
.more-posts .post-title {
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: 600;
	color: #000;
	font-size:18px
}
.more-posts .post-excerpt {
	color: #777;
	font-size: 12px;
	font-weight: 300;
}
.more-posts .post-date {
	margin-top: 12px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 1px;
	color: rgb(119, 119, 119);
	text-transform: uppercase;
}
.meta-box-posts .post-date {
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}
.meta-box-posts .post-hit {
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	margin-top: 15px;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	border-color:#F34026;
}
#toTop {
	width:50px;
	height: 50px;
	text-align:center;
	padding:5px;
	position:fixed;
	bottom:30px; /* отступ кнопки от нижнего края страницы*/
	right:30px;
	cursor:pointer;
	display:none;
	z-index: 5;
}
.content h2 {
	margin-bottom: 25px;
	padding: 0;
}
.content h2:before {
	display: none !important;
}
.content p {
	margin-bottom: 15px;
}
.services .blank-element .info-block {
	background: transparent;
	box-shadow: none;
	padding: 22% 0;
	cursor: pointer;
}

.services .blank-element a:hover {
	text-decoration: none;
}
.services .blank-element .service-title {
	text-decoration: none;
	border-bottom: solid 1px;
	text-align: center;
	transition: 0.5s;
	max-width: 265px;
	margin: 35px auto 15px auto;
}
.services .blank-element a:hover .service-title {
	color:#f85831;

}
.services .blank-element .info-block p {
	font-size: 15px;
	text-align: center;
}
.portfolio-page {
	padding-top: 77px;
}
blockquote, q {
	margin-left: 0;
	text-align: center;
	border:0;
}
blockquote {
	position: relative;
	/*border-left: 5px solid #f85732;*/
	padding-left: 16px !important;
}
blockquote:before {
	position: absolute;
	width: 5px;
	height: 100%;
	top:0;
	left: 0;
	background:#f85732 ;
	content: '';
}
blockquote i {
	position: relative;
	/*border-left: 5px solid #f85732;*/
	padding-left: 16px;
}
blockquote i:before {
	position: absolute;
	width: 5px;
	height: 100%;
	top:0;
	left: 0;
	background:#f85732 ;
	content: '';
}
.post-detail-banner {
	position: relative;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position:center center !important;
}
.post-detail-banner:after {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	content: '';
	background: rgba(0,0,0,0.7);
}
.post-detail-banner .container {
	position: relative;
	z-index: 5;
}
/* Large Devices, Wide Screens */
@media (max-width: 1280px ) {
	.result-slider .owl-carousel .owl-nav .owl-prev {
		left: 0;
	}
	.result-slider .owl-carousel .owl-nav .owl-next {
		right: 0;
	}
	.feedback-slider .owl-carousel .owl-nav .owl-prev {
		left: -25px;
	}
	.feedback-slider .owl-carousel .owl-nav .owl-next {
		right: -15px;
	}
}
@media only screen and (max-width : 1200px) {
	.navbar-default .navbar-nav li a.head-phone {
		margin-right: 0;
	}
	.call-back {
		text-align: right;
		margin-right: 10px;
	}
	.services .info-block {
		min-height: 301px;
	}
	.portfolio-item a {
		min-height: 204px;
	}
	.services h5 {
		min-height: 45px;
	}
	.result-slider .owl-carousel .owl-nav .owl-prev {
		left: -30px;
	}
	.result-slider .owl-carousel .owl-nav .owl-next {
		right: -22px;
	}
	.feedback-slider .owl-carousel .owl-nav .owl-prev {
		left: -30px;
	}
	.feedback-slider .owl-carousel .owl-nav .owl-next {
		right: -20px;
	}
	.info .form-control.form-email {
		width: 50%;
	}
	.info p a {
		font-size: 12px;
	}

	.info svg {
		margin-right: 8px;
	}
	.services h5{
		font-size: 20px;
	}
	.social-btn .mid {
		margin: 0 10px;
	}
	/*.feedback-slider .owl-carousel .owl-nav .owl-next{*/
		/*right: 0;*/
	/*}*/

	/*.feedback-slider .owl-carousel .owl-nav .owl-prev{*/
		/*left: -8px;*/
	/*}*/
	.popup.city-choice {
		top: 175px;
    right: 100px;
	}
	footer .checkbox-wrap {
		width: 360px;
	}
	.direction h2 {
		/*margin-bottom: 0;*/
		padding: 0;
	}
	.direction h2:before {
		display: none;

	}
	.services .info-block {
		padding: 28px 27px;
	}
	.info-project.container .float-img {
		display: none;
	}
	.pages {
		display: none;
	}
	.result-section .float-img {
		display: none;
	}
	.info-project .container .float-img {
		display: none;
	}
	.info-project.balance-views .container {
		height: 270px;
	}
	.info-project .container {
		height: auto;
	}
	.placeholder-bg .container {
		height: auto;
	}
	.more-design .step-1 .float-img {
		display: none;
	}
	.more-design .step-2 .float-img {
		display: none;
	}
	.more-design .step-3 .float-img {
		display: none;
	}
	.more-design .step-4 .float-img {
		display: none;
	}
	.more-design .step-item {
		margin-top: 50px;
	}
	.services .blank-element .info-block {
		padding: 34% 0;
	}
	.step-by-dev .tree {
		display: none;
	}
	.step-by-dev .tree-number {
		display: none;
	}
	.step-by-dev .step-by-dev-item.text-right {
		text-align: left !important;
	}
	.step-by-dev .step-by-dev-item.text-left {
		padding: 0 15px;
	}
	.step-to-step .number-col {
		padding: 0 15px;
		margin-bottom: 10px;
	}
}
@media (max-width: 1120px) {
	header .nav > li > a {
		padding: 15px 5px;
	}
	.navbar-default .navbar-nav {
		padding: 0 0 0 23px;
	}
	.navbar > .container .navbar-brand {
		padding: 15px 0px 0 30px;
	}
	.banner-with-img {

	}

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.navbar > .container .navbar-brand {
		padding: 13px 50px 0 0px !important;
	}
	.dev-item {
		margin-bottom: 40px;
	}
	.why-dev .dev-icon {
		margin-bottom: 20px;
	}
	.why-dev .dev-title {
		margin-bottom: 15px;
	}
	.step-to-step .number-col {
		padding: 0px;
		margin-bottom: 0px;
	}
	.services .info-block {
		min-height: 250px;
	}
	.step-to-step .number-col .wrap {
		margin-left: 15px;
		margin-bottom: 15px;
	}
	.navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 13px 15px 13px 45px;
		font-size:16px;
	}
	.navbar-nav .open .dropdown-menu>li>a:last-child {
		padding: 13px 15px 30px 45px;
	}
	.navbar-default .navbar-brand {
		float: left;
	}
	.navbar-nav .open .dropdown-menu {
		margin-top: 20px;
		margin-bottom: 5px;
		border-bottom:1px solid #f85831;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	}
	.navbar-default .navbar-toggle {
		float: right;
	}

	.info p a {
		font-size: 14px;
	}

	.info svg {
		margin-right: 15px;
	}

	.feedback-slider .owl-carousel .owl-nav .owl-next {
		right: -15px;
	}

	.feedback-slider .owl-carousel .owl-nav .owl-prev {
		left: -25px;
	}

	.services h5 {
		font-size: 24px;
	}

	.navbar-default .navbar-collapse {
		text-align: left;
	}

	.navbar-default .navbar-nav {
		display: block;
	}

	.col-space {
		margin-bottom: 35px;
	}

	.info .form-control.form-email {
		width: 60%;
	}

	.portfolio .portfolio-item a:hover:after {
		padding-top: 75px;
	}

	.navbar-default .navbar-brand {
		max-width: 253px;
		margin-top: 0;
		/*float: right;*/
	}
	.navbar-default {
		padding-bottom: 0 !important;
		height: 70px;
	}
	.navbar-default .navbar-toggle {
		/*float: left;*/
		border: none;
	}
	.navbar-toggle {
		margin-top: 18px;
	}
	header .navbar-default,
	.navbar {
		margin: 0;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #263346;
	}

	.navbar-default .navbar-nav > li > a.location {
		display: inline-block;
	}

	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: transparent;
	}

	.container > .navbar-header {
		margin-right: 0;
		margin-left: 0;
	}

	.navbar-default .navbar-nav > li > a {
		border-bottom: 1px solid #e6e6e6;
		margin-top: 0;
	}

	.navbar-default .navbar-nav > li > .with-icon {
		line-height: 40px;
		background-color: #f2f2f2;
		font-size:20px;
	}

	.navbar-default .navbar-nav > li > .with-icon i {
		margin-right: 25px;
		color: #1a242d;
	}

	.navbar-default .navbar-nav .our-contacts {
		padding-left: 10px;
	}

	.navbar-default .navbar-nav .our-contacts i {
		margin-right: 15px;
		color: #1a242d;
	}

	.navbar-default .navbar-nav .our-contacts p {
		margin-bottom: 15px;
	}

	.navbar-default .navbar-nav .our-contacts p span {
		display: inline-block;
		margin-left: 36px;
	}

	.navbar-default .navbar-nav .our-contacts p a {
		color: #1a242d;
		display: block;
	}

	.navbar-default .navbar-nav .our-contacts p a:hover {
		color: #F34026;
		text-decoration: none;
	}

	.navbar-default .navbar-nav > li > .block-li-title {
		border: none;
		margin-top: 0;
		padding-bottom: 0;
	}

	.navbar-default .navbar-nav > li > .block-li-title:hover {
		color: #1a242d;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background: #f85831;
	}

	.baner h1 {
		text-align: center;
		padding: 0;
	}

	.baner .baner-disc {
		text-align: center;
	}

	.baner .bg-laptop {
		position: relative;
		height: 309px;
		background-size: contain;
		background-position: center center;
		bottom: -59px;
	}

	.advantage p, .services p {
		padding: 0;
	}

	.feedback-slider .owl-carousel .owl-nav .owl-next {
		display: none;
	}

	.feedback-slider .owl-carousel .owl-nav .owl-prev {
		display: none;
	}

	.mobile-menu {
		display: block;
		box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.45);
		top: 0;
		bottom: 0;
		left: -100%;
		width: 300px;
		max-width: 100%;
		background: #fff;
		z-index: 3002;
		overflow: hidden;
		overflow-y: auto;
		transition: left 0.4s ease 0s, opacity 0.4s ease 0s;
		position: fixed;
	}

	.close-bg {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 3000;
		background: rgba(0, 0, 0, 0.5);
		top: 0;
		left: 0;
	}

	.result-slider .h4 {
		text-align: center;
	}

	.feedback-slider .container .item {
		padding: 40px 40px;
	}

	footer .padding-mobile {
		padding: 0 15px;
	}

	footer .info img {
		margin-bottom: 0;
	}

	footer .addres-title {
		margin-bottom: 0;
	}

	.info .row-sapce {
		margin-bottom: 44px;
	}

	footer .info .lists h4 {
		margin-top: 0;
	}

	.copy p {
		text-align: right;
		margin-top: 195px;
	}

	footer .container {
		position: relative;
	}

	footer .mobile-position {
		position: absolute;
		left: 20px;
		bottom: -165px;
	}

	footer .col-xs-1, footer .col-sm-1, footer .col-md-1, footer .col-lg-1, footer .col-xs-2, footer .col-sm-2, footer .col-md-2, footer .col-lg-2, footer .col-xs-3, footer .col-sm-3, footer .col-md-3, footer .col-lg-3, footer .col-xs-4, footer .col-sm-4, footer .col-md-4, footer .col-lg-4, footer .col-xs-5, footer .col-sm-5, footer .col-md-5, footer .col-lg-5, footer .col-xs-6, footer .col-sm-6, footer .col-md-6, footer .col-lg-6, footer .col-xs-7, footer .col-sm-7, footer .col-md-7, footer .col-lg-7, footer .col-xs-8, footer .col-sm-8, footer .col-md-8, footer .col-lg-8, footer .col-xs-9, footer .col-sm-9, footer .col-md-9, footer .col-lg-9, footer .col-xs-10, footer .col-sm-10, footer .col-md-10, footer .col-lg-10, footer .col-xs-11, footer .col-sm-11, footer .col-md-11, footer .col-lg-11, footer .col-xs-12, footer .col-sm-12, footer .col-md-12, footer .col-lg-12 {
		position: static;
	}

	.info .form-control.form-email {
		width: 55%;
	}

	.icon-right-list img {
		display: none;
	}

	.icon-right-list a {
		width: 100%;
		display: block;
	}

	.icon-right-list a br {
		display: none;
	}
	.navbar-default .navbar-nav {
		padding: 0;
		width: 100%;
		margin: 0;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 18px;
		color:#222;
		text-transform: none;
		padding: 19px 20px 20px 19px;
	}
	.navbar-default .navbar-collapse {
		padding-right: 0;
	}
	.mobile-menu::-webkit-scrollbar{width:8px;}
	.mobile-menu::-webkit-scrollbar-track{border-radius:8px;}
	.mobile-menu::-webkit-scrollbar-thumb{border-radius:8px;background:#999;border:2px solid #fff;}
	.mobile-menu::-webkit-scrollbar-thumb:window-inactive{background:#999;border:2px solid #fff;}
	.mobile-menu.dropdown{top:64px;bottom:0;width:100%;border-top:1px solid #f2f2f2;opacity:0;visibility:hidden;}
	.navbar-default .navbar-nav .our-contacts p {
		font-size: 13px;
	}
	.navbar-default .navbar-nav .our-contacts i {
		margin-right: 7px;
		width: 20px;
	}
	.more-posts .post-img {
		max-height: none;
	}
	.more-posts .posts-item {
		margin-bottom: 25px;
	}
	.pager-section .arrow span {
		display: none;
	}
	.step-to-design .step-item .arrow-right {
		display: none;
	}
	.step-to-design .step-item {
		margin-bottom: 25px;
	}
	.step-to-design {
		padding: 50px 0;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.info-project .container {
		background: none;
	}
	#banner-main .audit-site .visible-xs-block{
		display:  none !important;
	}
	#banner-main .audit-reklama .visible-xs-block{
		display:  none !important;
	}
	#banner-main .audit-site .my-btn-3 {
		margin-bottom: 93px !important;
	}
	#banner-main .audit-reklama .my-btn-3 {
		margin-left: -12px !important;
		margin-bottom: 117px !important;
	}
	blockquote, q {
		text-align: left;
		padding: 0;
		display: block;
	}
	blockquote i {
		display: block;
	}
	.post-detail ul li {
		font-size: 16px;
	}
	.post-detail ul {
		padding-left: 20px;
	}
	.feedback-slider .container .item .item-pos {
		padding-right: 0;
		padding-top: 20px;
	}
	.contact-us h2 {
		line-height: 38px;

	}
	.info .row-sapce {
		margin-bottom: 0;
	}
	footer .info .lists .h4 {
		padding-top: 45px;
	}
	.certificate .text {
		margin-top: 0;
		font-size: 14px !important;
	}
	.certificate {
		padding-top: 74px;
		padding-bottom: 74px;
	}
	.portfolio {
		padding-top: 50px;
	}
	.trust h2 {
		margin-bottom: 30px;
		line-height: 38px;
	}
	.services h2 {
		line-height: 38px;
		margin-bottom: 25px;
	}
	.advantage h2 {
		margin-bottom: 20px;
		padding: 32px 0 0;
	}
	.advantage p {
		margin-bottom: 60px;
		margin-top: 50px;
	}
	.result-slider h2 {
		line-height: 38px;
	}
	.cta-banner {
		font-size: 20px;
	}
	.word-lead .word-wrap {
		font-size: 18px;
		line-height: 26px;
	}
	.word-lead .lead-wrap {
		margin-top: 30px;
	}
	.why-profit .img-wrap {
		margin: 0 auto 15px;
		text-align: center;
		/*margin: 0 auto ;*/
	}
	.why-profit .img-wrap img {
		margin: 0 auto;
	}
	.why-profit .profit-title {
		text-align: center;
	}
	.why-profit .profit-text {
		text-align: center;
	}
	.content ul li {
		font-size: 16px;
	}
	footer  .info .h4 {
		text-align: center;
	}
	.team-item {
		margin-bottom: 35px;
	}
	.navbar-right{
		position: inherit;
	}

	.info .form-control.form-email{
		width: 60%;
	}
	.step-to-step .number-col .wrap {
		margin: 0 auto 15px;
	}
	.step-to-step .step-title {
		text-align: center;
	}
	.step-to-step .step-text {
		text-align: center;
	}
	.trust,
	.contact-us,
	footer,
	.result-slider,
	.feedback-slider,
	.advantage,
	.services{
		padding: 45px 0;
	}
	.feedback-slider h2 {
		line-height: 38px;
		margin-bottom: 30px;
	}
	.copy .position-icon{
		text-align: center;
		margin-bottom: 15px;
	}

	.copy .position{
		text-align: center;
	}

	.baner h1,
	.banner-about h2{
		font-size: 26px;
		text-align: center;
		line-height: 38px;
	}
	.result-slider .slide-text p {
		text-align: right;
	}
	.result-slider .number-slide p {
		padding: 3px 0;
		margin-bottom: 5px;
	}
	.result-slider h2 {
		margin-bottom: 35px;
	}
	.portfolio h2 {
		margin-bottom: 35px;
	}
	.portfolio-item a {
		min-height: auto;
	}
	.portfolio .row-sapce {
		min-height: auto;
	}
	.portfolio {
		padding-bottom: 45px;
	}
	.baner .count,
	.baner .count-2{
		font-size: 46px;
	}

	.banner-about .baner-disc{
		font-size: 18px;
	}

	.baner p{
		font-size: 11px;
	}

	.baner img{
		max-width: 195px;
	}

	.feedback-slider .owl-carousel .owl-nav .owl-next{
		right: 0;
	}

	.feedback-slider .owl-carousel .owl-nav .owl-prev{
		left: 0;
	}

	h2{
		font-size: 26px;
		margin-bottom: 25px;

	}

	.advantage p,
	.services p,
	.profit p{
		font-size: 16px;
	}

	.services h5{
		font-family: 'Circe', sans-serif;
		font-size: 20px;
		color: #1a242d;
		margin-top: 35px;
		margin-bottom: 20px;
	}

	.owl-theme .owl-nav [class*=owl-]{
		display: none !important;
	}
	
	.item-pos{
		text-align: center;
	}

	.result-slider p{
		margin-bottom: 15px;
		font-size: 16px;
	}

	.result-slider .h4{
		font-size: 20px;
	}

	.text-right{
		/*text-align: center !important;*/
		margin-top: 0;
	}
	
	.my-btn-3{
		margin-top: 0;
	}

	.trust .discription{
		margin-bottom: 60px;
		font-size: 16px;
	}

	.discription,
	.direction p{
		font-size: 16px;
	}

	.trust .owl-theme .owl-dots .owl-dot span{
		background-color: #989ca1;
	}

	.trust .owl-theme .owl-dots .owl-dot.active span{
		background-color: transparent;
		height: 13px;
		width: 14px;
		margin-bottom: 3px;
		border: 4px solid #f34026;
		border-radius: 50%;
	}
	.contact-us form div{
		position: relative;
	}

	.checkbox-custom{
		position: absolute;	
		bottom: 0;
		left: 50%;
	}

	.lists{
		text-align: center;
	}

	.text{
		margin-top: 60px;
	}

	.my-btn-2 {
	    margin: 35px auto;
	}
	.feedback-slider .container .item {
		box-shadow: none;
		margin: 0;
	}
	.popup.order-call {
		width: 90%;
		padding: 15px 30px;
	}
	.popup.order-call .form-input,
	.popup.order-call .popup-btn {
		min-width: 100%;
	}
	.popup.order-call.thnx {
    padding: 30px;
	}
	.number-wrap {
	display: none;
	}
	.baner h1 {
		font-size: 30px;
	}
	.baner .baner-disc {
		font-size: 16px;
	}
	h2 {
		font-size: 30px;
	}
	.adv-item {
		margin: 35px 0;
	}
	.result-slider p {
		text-align: center;
	}
	.item-pos {
		text-align: left;
	}
	.copy p {
		margin-top: 70px;
		text-align: center;
	}
	footer .our-contacts {
		text-align: center;
	}
	footer  .info h4 {
		text-align: center;
	}
	.contact-us .checkbox-wrap {
		position: relative;
		left: 0;
		width: 100%;
		bottom: 0;
	}
	.checkbox-custom {
		top: 5px;
		left: 18%;
	}
	.certificate .text {
		font-size: 16px;
	}
	.feedback-slider p {
		font-size: 16px;
	}
	.word-lead .word-wrap {
		overflow: hidden;
	}
	.blog-tale .blog-item {
		margin-bottom: 40px;
	}
	.blog-tale .blog-item img {
		margin: 0 auto;
	}
	.blog-tale .img-blog {
		max-height: none;
	}
	.right-context .col-xs-12 {
		margin-bottom: 25px;
	}
}

.mobile-position .sp-form{
    padding-left: 0!important;
    margin-left: 0!important;
}
.mobile-position .sp-form-fields-wrapper {
    margin-left: 0!important;
}
.mobile-position .sp-field {
    padding-left: 0!important;

}
.mobile-position .sp-link-wrapper.sp-brandname__left {
    padding-left: 0!important;
}

.dublicateForm input[type=checkbox]{
	width: 20px!important;
}
.dublicateForm .sp-link-wrapper.sp-brandname__left {
    text-align: center; 
}
.dublicateForm .h4{
    padding-top: 45px;
    margin-bottom: 15px!important;
}

.sp-link-wrapper {
	display: none !important;
}
.contact-us-blog .discription {
	margin-bottom: 15px;
}
.sp-form[sp-id="90590"] {
	margin-bottom: 0;
}
.contact-us-blog label {
	margin: 0;
}
.map-wrap-contact {
	margin-bottom: 20px;
}
.cookies-eu {
	position: fixed;
	left: 0;
	right: 0;
	font-size: 18px;
	background: #FFFFFF;
	z-index: 9999;
	text-align: left;
	display: none;
	bottom: 50px;
	background-position: 24px 50%;
	max-width: 980px;
	margin: auto;
	border-radius: 40px;
	padding: 15px 0;
	box-shadow: 0 0 16px 2px rgba(0,0,0,0.1);
	background-repeat: no-repeat;
	background-size: 31px 31px;
	/*background-image: url('../img/page/cookie-img.png');*/
}
.cookies-eu a {
	color:#f85831;
}
.cookies-eu .cookies-eu-button-holder .cookies-eu-ok {
	height: 30px;
	line-height: 34px;
	width: 50px;
	/*background-image: none;*/
	border: 0;
	/*color: #000;*/
	color: transparent;
	padding: 0;
	cursor: pointer;
	border-left: 1px solid #DDD;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: 50%;
	background-image: url('../img/page/close-cookie.svg');
}
.cookies-eu .cookies-eu-content-holder {
	padding: 0 70px;
}
.cookies-eu .cookies-eu-button-holder {
	padding-right: 0;
	position: absolute;
	top: 11px;
	right: 10px;
	display: inline-block;
}
a.politika {
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
    display: inline-block;
}
.navbar-brand>img.mobile-logo {
	display: none;
}
@media (max-width: 991px) {
	.navbar-brand>img.desktop-logo {
		display: none;
	}
	.navbar-brand>img.mobile-logo {
		display: block;
		width: 298px !important;
		height: 37px !important;
	}
	.cookies-eu .cookies-eu-button-holder {
		width: 100%;
		padding: 10px;
		bottom: 0;
		top: auto;
		right: 0;
		background-repeat: no-repeat;
		background-size: 31px 31px;
		background-position: 22% 15px;
		background-image: url('../img/page/cookie-img.png');
	}
	.cookies-eu {
		bottom: 0;
		font-size: 16px;
		line-height: 20px;
		/*box-shadow: 0 0 20 5px rgba(0,0,0,0.1);*/
		width: 100%;
	}
	.cookies-eu .cookies-eu-content-holder {
		padding: 0;
		font-size: 17px;
		line-height: 22px;
	}
	.cookies-eu .cookies-eu-button-holder .cookies-eu-ok {
		background-image: url('../img/page/close-cookie.svg');
	}
	.cookies-eu .cookies-eu-button-holder .cookies-eu-ok {
		width: 50%;
		margin-left: 50%;
		height: 40px;
	}
	.cookies-eu {
		border-radius: 0;
		background-image: none;
		padding: 20px 20px 60px 20px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	footer  .info .h4 {
		text-align: center;
	}
	.owl-carousel .owl-item img{
		max-width: 230px;
	}
	.contact-us .checkbox-wrap {
		display: none;
	}
	.slide-text {
		margin-left: 0;
		width: 71%;
	}
	.result-slider p span {
		font-size: 16px;
		font-weight: 300;
	}
	.baner .baner-disc {
		padding-left: 15px;
	}
	.feedback-slider .item .col-xs-3 {
		width: 50%;
	}
	.result-slider .number-slide p {
		height: 50px;
		padding: 4px 0;
		margin-bottom: 14px;
	}
	.result-slider .slide-text p {
		height: 50px;
	}
}
@media (max-width: 420px) {
	.portfolio .my-btn-3 {
		padding: 15px 37px;
	}
	footer .our-contacts p {
		font-size: 16px;
	}
	footer .info .lists a {
		font-size: 16px;
	}
	.info p {
		white-space: normal;
	}
}
@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
.direction-tilda {
	padding-top: 0;
	padding-bottom: 0;
}
.direction-tilda a {
	border-bottom: none !important;
}
.direction-tilda h2:before {
	display: none !important;
}
.tilda-detail *, .tilda-detail :after, .tilda-detail :before {
	box-sizing: content-box;
}
/* NEW BANNER */
#banner-main {
	/*max-height: 700px;*/
	/*overflow: hidden;*/
}
#banner-main .owl-stage{
	padding: 0 !important;
	/*margin: 0 -30px;*/
}
#banner-main .item {
	padding-bottom: 60px;
	/*min-height: 560px;*/
}
#banner-main .owl-stage .owl-item {
	/*width: 100% !important;*/
	/*width: calc(100%) !important;*/


}

#banner-main .audit-site .baner-disc {
	margin-bottom: 65px;
}
#banner-main .audit-reklama .baner-disc {
	margin-bottom: 65px;
}
#banner-main .audit-site .my-btn-3,
#banner-main .audit-reklama .my-btn-3 {
	border-radius: 30px;
	background-image: linear-gradient(to top, #f85931, #f98e12);
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	text-transform: uppercase;
	border-top:2px solid #f98e12;
	border-bottom:2px solid #f85931;
	border-left:2px solid transparent;
	border-right:2px solid transparent;
	/*border: 2px solid rgba(255,255,255,0);*/
	margin-top: 0;
	margin-bottom: 72px;
	margin-left: 34px;
	transition: none;
}
#banner-main .audit-reklama .my-btn-3 {
	margin-left: 18px;
}
#banner-main .audit-site .my-btn-3:hover,
#banner-main .audit-reklama .my-btn-3:hover {
	background: transparent;
	border:2px solid rgba(255,255,255,1);
}
#banner-main .st0 {
	fill:#fff !important;
}
#banner-main .audit-reklama .baner {
	background: url("../img/main/reklama-slider.jpg") no-repeat;
	background-size: cover;
}
#banner-main .audit-site .baner {
	background: url("../img/main/site-slider.jpg") no-repeat;
	background-size: cover;
}
#banner-main .audit-reklama .baner .bg-laptop {
	background: url("../img/main/people-reklama.png") no-repeat;
	bottom: -231px;

}
#banner-main .audit-site .baner .bg-laptop {
	background: url("../img/main/people-site.png") no-repeat;
	right: 0;
	bottom: -184px;
}
#banner-main .owl-prev {
	left: 35px;
}
#banner-main .owl-next {
	right: 35px;
}
#banner-main .owl-dots {
	display: none !important;
}
.orange-title {
	background: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	padding: 35px 0;
}
.orange-title h2 {
	margin: 0;
	color:#fff;
}
.blog-main .blog-tale .row-space {
	margin: 0;
}
.blog-main .my-btn-3 {
	display: inline-block !important;
	color: #f85831;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
	border-radius: 30px;
	background-color: #ffffff;
	background-position: center center;
	border: 2px solid #f85831;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	padding: 15px 60px;
}
.blog-main .my-btn-3:hover {
	background-color: #f85831;
	border-color: #f85831;
	color: #ffffff;
}
.link-testimonials {
	margin-top: 20px;
}
.social-btn .last {
	margin: 0;
}
.social-btn .last img {
	padding-top: 14px;
}
#link_be:hover {
	background-color:#0056FF;
}
.navbar>.container .navbar-brand {
	padding: 4px 0px 0 58px;
}
.navbar-default .navbar-toggle img {
	position: absolute;
}
/* Edit */

.banner-about {
	background-image: url('/local/templates/prbel/img/back.svg');
}
/*
.krosh {
	padding: 20px;
	background-color: #5f2d91;
}
.banner-about h1 {
	padding: 20px;
	background-color: #5f2d91;
}
.baner-disc {
	padding: 20px;
	background-color: #5f2d91;
}
.owl-carousel p {
	background-color: transparent;
}
*/
.result-slider {
	background-color: #5f2d91;
	background-image: none;
}
.owl-theme .owl-dots .owl-dot span {
	width: 7px;
	height: 7px;
	margin-top: -13px !important;
}
.result-slider .owl-theme .owl-dots .owl-dot span {
	background-color: #FD8F00;
}
.result-slider .owl-theme .owl-dots .owl-dot.active span {
	background-color: #fff;
}
.feedback-slider .owl-theme .owl-dots .owl-dot.active span {
	background-color: #f34026;
	border: 4px solid #f34026;
}
.orange-title, .cta-banner {
	background-color: #5f2d91 ;
	background-image: none;
}
footer {
	background-color: #5f2d91;
	background-image: url('/local/templates/prbel/img/footer.svg');
}
.sp-form[sp-id="84145"],
.sp-form[sp-id="89948"]{
	background-color: #5f2d91 !important;
}
.sp-form[sp-id="84145"] .sp-button,
.sp-form[sp-id="89948"] .sp-button{
	background-color: #5f2d91 !important;
}
.gif-ny {
	width: 90px;
	height: 40px;
	position: absolute;
	top: 9px;
	left: -36px;
}
header .navbar-brand {
	position: relative;
}