/* ------------------------------FONTS--------------------------------- */
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Cirle/Circe-Regular.eot');
	src: url('../fonts/Cirle/Circe-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cirle/Circe-Regular.woff2') format('woff2'),
	url('../fonts/Cirle/Circe-Regular.woff') format('woff'),
	url('../fonts/Cirle/Circe-Regular.ttf') format('truetype'),
	url('../fonts/Cirle/Circe-Regular.svg#Circe-Light') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Cirle/Circe-Light.eot');
	src: url('../fonts/Cirle/Circe-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cirle/Circe-Light.woff2') format('woff2'),
	url('../fonts/Cirle/Circe-Light.woff') format('woff'),
	url('../fonts/Cirle/Circe-Light.ttf') format('truetype'),
	url('../fonts/Cirle/Circe-Light.svg#Circe-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Cirle/Circe-Bold.eot');
	src: url('../fonts/Cirle/Circe-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cirle/Circe-Bold.woff2') format('woff2'),
	url('../fonts/Cirle/Circe-Bold.woff') format('woff'),
	url('../fonts/Cirle/Circe-Bold.ttf') format('truetype'),
	url('../fonts/Cirle/Circe-Bold.svg#Circe-Light') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Cirle/Circe-ExtraBold.eot');
	src: url('../fonts/Cirle/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cirle/Circe-ExtraBold.woff2') format('woff2'),
	url('../fonts/Cirle/Circe-ExtraBold.woff') format('woff'),
	url('../fonts/Cirle/Circe-ExtraBold.ttf') format('truetype'),
	url('../fonts/Cirle/Circe-ExtraBold.svg#Circe-Light') format('svg');
	font-weight: 900;
	font-style: normal;
}
/* ------------------------------CROSSBROUSER--------------------------------- */
input:focus::-webkit-input-placeholder { color:#fff; }
input:focus:-moz-placeholder { color:#fff; } /* FF 4-18 */
input:focus::-moz-placeholder { color:#fff; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:#fff; } /* IE 10+ */

/*scroll-bar*/
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #b2b2b2;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #ededed;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	font-family: 'Circe', sans-serif;
}

img{
  max-width:100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
 
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
button,
textarea {
  outline: none;
}


.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

button {
  background-color: transparent;
  border: none;
}

.row:after,
.wrapper:after,
.clearfix:after,
.super-wrapper:after {
  content: '';
  clear: both;
  display: block;
}

a:focus,
a:active {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

a:hover {
	color: inherit;
  text-decoration: underline;
  transition: all 0.3s;
}

.left {
  float: left;
}

.right {
	float: right;
}

a, button, input[type="submit"] {
  transition: all 0.3s;
}

textarea{
 resize:none;
}

::-webkit-input-placeholder {
  color: #989ca1;
}

::-moz-placeholder {
  color: #989ca1;
}

:-moz-placeholder {
  color: #989ca1;
}

:-ms-input-placeholder {
  color: #989ca1;
}

header .container{
	width:100%; 
	max-width: 1257px;
}



h2{
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 25px;
	line-height: 52px;
}

.discription{
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 55px;
}

.row-sapce{
	margin-bottom: 35px;
}

.row-sapce-top{
	margin-top: 30px;
}

.img-responsive{
	display: inline-block;
}
/* ------------------------------MAIN--------------------------------- */

/* ------------------------------HEADER--------------------------------- */
.navbar-default {
	box-shadow: 0 3px 5px rgba(16,19,41,.2) !important;
	position: relative;
	z-index: 999;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand{
	margin-top: 25px;
}

.navbar-default .navbar-collapse{
	text-align: center;
}

.navbar-default .navbar-nav{
	/*display: inline-block;*/
	/*float: none;*/
	padding: 0 0 0 55px;
}

.navbar-default .navbar-nav>li>a.head-phone{
	font-size: 24px;
	padding-bottom: 3px;
	padding-right: 0;
	padding-left: 26px;
	margin-right: -18px;
}

.navbar-default .navbar-nav>li>a.head-phone:hover{
	text-decoration: none;
	color: #1a242d;
}

header .navbar-default{
	background-color: #fff;
	background-image: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding-bottom: 18px;
	margin: 0;
}
.navbar>.container .navbar-brand {
	padding: 15px 0px 0 58px;
}
header i{
	color: #f34128;
	margin-left: 8px;
	font-size: 18px !important;
}

.call-back{
	text-align: right;
	margin-right: -8px;
}

.navbar-default .navbar-nav>li>a{
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}
header .navbar-nav>li.dropdown a:hover header .navbar-nav>li.dropdown > .dropdown-menu {
	display: block;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #F34026;
	text-decoration: none;
}
.navbar-default .navbar-nav>li>a:hover .dropdown-menu {
	display: block;
}
.navbar-default .navbar-nav>li>a.location{
	border-bottom: 1px dashed #f85831;
	color: #f85831;
	font-family: 'Circe', sans-serif;
	font-size: 14px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 1px;
	padding-top: 12px;
}

.navbar-default .navbar-nav>li>a.location:hover{
	border-bottom: 1px dashed #F34026;
	text-decoration: none;
	color: #F34026;
}

.navbar-default .navbar-nav>li>.call-back a{
	color: #989ca1;
	font-family: 'Circe', sans-serif;
	font-size: 14px;
	border-bottom: 1px dashed;
	font-weight: 300;
	margin-right: -10px;
}

.navbar-default .navbar-nav>li>.call-back a:hover{
	color: #f85831;
	text-decoration: none;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:active,
.navbar-default .navbar-nav>.open>a:focus{
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	color: #F34026;
	text-decoration: none;
}

.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover,
.nav .open>a:ative{
	background-color: transparent;
	border-color: transparent;
}

.nav>li>a{
	padding: 15px 11px;
}
header ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm {
	padding: 0;
	margin-right: 0;
}
.img-responsive{
	display: inline-block;
}

/* -------------------------------SECTION-TRUST------------------------------ */
.trust{
	background-color: #fff;
	padding: 80px 0;
}

.trust .discription{
	margin-bottom: 95px;
}

.contact-us{
	background-color: #e7edf3;
	padding: 67px 0 64px;
}

.contact-us .form-control{
	background-color: #fff;
	border: none;
	border-radius: 0;
	box-shadow: none;
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-size: 20px;
	color:#989ca1;
	font-weight: 300;
}

.contact-us .form-control:focus{
	    /*box-shadow: inset 2px 2px 3px rgba(243,64,38,.075);*/
}

.contact-us .form-control.form-name{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 2px;
}

.contact-us .form-control.form-tel{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 26px;
}
.contact-us .my-btn-2 {
	font-weight: 600;
	letter-spacing: 0.5px;
	border-width: 2px;
	border-radius: 30px;
	background-color: #f85831;
	background-position: center center;
	border-color: #f85831;
	border-style: solid;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	width: 100%;
	padding: 10px 0;
	font-size: 18px;
}
.contact-us .my-btn-2:hover {
	background-color: #e7edf3;
	border-color: #f85831;
	color: #f85831;
}
.contact-us form {
	position: relative;
}
.contact-us .checkbox-wrap {
	position: relative;
	left: -42px;
	width: 452px;
	bottom: -38px;
}
.checkbox{
    display: none;
}
.checkbox-custom{
	background-color: #03a9f4;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    margin-top: -2px;
    margin-right: 10px;
    position: relative;
}
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox:checked + .checkbox-custom::before {
    content: "\2713";
    display: block;
    position: absolute;
    color: #fff;
    top: -1px;
    right: 2px;
    left: 2px;
    border-radius: 2px;
}

.contact-us label{
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 55px;
}

.contact-us label a{
	color: #1a242d;
	text-decoration: underline;
}

.contact-us label a:hover{
	text-decoration: underline;
	color: #F34026;
}

.contact-us p a{
	color: #989ca1;
	font-family: 'Circe', sans-serif;
	font-size: 14px;
	display: inline-block;
	margin-top: 35px;
	border-bottom: 1px dashed #989ca1;
}

.contact-us p a:hover{
	border-bottom: 1px dashed #F34026;
	text-decoration: none;
	color: #F34026;
}

.my-btn-2{
	background-color: #f34026;
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 18px;
	outline: none;
	padding: 20px 25px;
	text-transform: uppercase;
}

.my-btn-2:hover,
.my-btn-2:active,
.my-btn-2:focus{
	background-color: #c2230a;
	color: #fff;
	outline: none;
}
.certificate {
	padding: 92px 0 94px;
}
.certificate .text {
	margin-top: 20px;
	margin-bottom: 20px;
}
.row-certificate {
	margin-bottom: 0px;
}

/* -------------------------------FOOTER------------------------- */
footer{
	background-color: #263346;
	padding: 48px 0;
}
footer  .info h4 {
	font-size: 22px;
}
footer .info p a {
	font-size: 18px;
}
footer .info p a:hover {
	text-decoration: none;
}
footer .icon-right-list a {
	display: inline-block;
}

footer .info img {
	margin-bottom: 88px;
}
footer .icon-right-list  img {
	margin-bottom: 17px;
	width: 23px;
	margin-right: 15px;
}
footer .addres-title {
	margin-bottom: 15px;
}
footer .row-sapce {
	margin-bottom: 33px;
}
footer .position-icon img {
	width: 32px;
}
.info ul{
	list-style: none;
}

.info img{
	margin-bottom: 70px;
}

.info p a{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 14px;
}

.info p{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
	white-space: nowrap;
}

.info .our-contacts a{
	color: #fff;
}

.info .our-contacts a:hover{
	text-decoration: underline;
}

.info .our-contacts p i{
	margin-right: 15px;
}

.info .our-contacts p span{
	margin-left: 24px;
}

.info .row-sapce{
	margin-bottom: 70px;
}

.info label{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 12px;
}

.info label a{
	color: #fff;
	text-decoration: underline;
}

.info label a:hover{
	text-decoration: underline;
	color: #F34026;
}

.info .checkbox-custom{
    width: 11px;
    height: 11px;
    border-radius: 3px;
    margin-top: -2px;
    margin-right: 10px;
}

.info .form-control.form-email{
	height: 47px;
	width: 60%;
}

.info .form-inline{
	margin-bottom: 10px;
}

.my-btn-1{
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 12px;
	outline: none;
	padding: 13px 15px;
	text-transform: uppercase;
}

.my-btn-1:hover,
.my-btn-1:active,
.my-btn-1:focus{
	background-color: #fff;
	border: 2px solid #fff;
	color: #F34026;
	outline: none;
}

footer .info .lists a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
}
footer .no-padding {
	padding: 0;
}
footer .info label {
	font-size: 18px;
}
footer .our-contacts p {
	font-size: 18px;
	font-weight: 300;
}
.info .lists a:hover{
	color: #fff;
	text-decoration: underline;
}

.info .lists h4{
	margin-top: 65px;
	margin-bottom: 30px;
}
footer .info .lists h4 {
	margin-top: 15px;
}
.info h4 {
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 30px;
}

.info .lists h4 a{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.info .lists li{
	margin-bottom: 10px;
}
footer .my-btn-1 {
	color: #ffffff;
	font-size: 14px;
	font-family: 'Circe';
	line-height: 1.55;
	font-weight: 600;
	border-width: 2px;
	border-radius: 30px;
	background-color: #263346;
	background-position: center center;
	border-color: #ffffff;
	border-style: solid;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
footer .info .checkbox-custom {
	font-size: 11px;
}
footer .checkbox-wrap {
	position: absolute;
	width: 460px;
}
footer .info .lists a:hover {
	text-decoration: none;
	color:#f85831;
}
footer .info .our-contacts a:hover {
	text-decoration: none;
}
footer .my-btn-1:hover {
	background-color: #f85831;
	border-color: #f85831;
	color:#fff;
}
.info.row-sapce{
	margin-bottom: 35px;
}

.info svg .st0{
	fill: none;
	stroke-width: 1px;
	stroke: #fff;
}

.info svg{
	width: 23px;
	margin-right: 15px;
}

.social-btn .mid{
	margin: 0 20px;
}

.social-btn svg{
	width: 32px;
	border-radius: 50%;
	margin-right: 0;
}
.social-btn .position-icon{
	text-align: left;
}

.social-btn .fst svg .st0{
	fill: #54769D;
	stroke: #54769D;
}

.social-btn .mid svg  .st0{
	fill: #336699;
	stroke: #336699;
}

.social-btn svg  .st0{
	stroke: url(#SVGID_1_);
}

.copy p{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
	font-weight: 300;
}

/* --------------------------------------RESULT-------------------------------------- */
.result-slider{
	background: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	padding: 67px 0 42px;
}

.result-slider h2{
	color: #fff;
	margin-bottom: 65px;
}

.result-slider h4{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 22px;
	margin: 40px 0 20px;
	text-align: right;
}

.result-slider p{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
	text-align: right;
	font-weight: 300;
}

.result-slider p span{
	font-size: 22px;
	display: block;
	text-align: left;
	font-family: 'Circe', sans-serif;
	font-weight: 700;

}
.result-slider .slide-text p {
	padding: 3px 0;
}
.result-slider .number-slide {
	padding: 0;
}
.result-slider .owl-theme .owl-dots .owl-dot span{
	background-color: #f34026;
}
.result-slider .owl-carousel .owl-nav .owl-prev {
	left: -60px;
	top: 36%;
}
.result-slider .owl-carousel .owl-nav .owl-next {
	right: -60px;
	top: 36%;
}
.owl-theme .owl-dots .owl-dot.active span{
	background-color: transparent;
	height: 14px;
	width: 14px;
	margin-bottom: 3px;
	border: 4px solid #fff;
}

.owl-theme .owl-nav [class*=owl-]{
	background-color: transparent;
	width: 45px;
	position: absolute;
	top: 50%;
	margin: 0;
	margin-top: -25px;
}

.owl-theme .owl-nav [class*=owl-]:hover{
	background-color: transparent;
	color: #fff;
}

.owl-carousel .owl-nav .owl-prev{
	left: 0;
}

.owl-carousel .owl-nav .owl-next{
	right: 0;
}



.result-slider .st0{
	fill: #fff;
	stroke: none;
	width: 42px;
}

/* --------------------------------------FEEDBACK-------------------------------------- */
.feedback-slider{
	background-color: #e7edf3;
	padding: 70px 0 76px;
}

.feedback-slider h2{
	margin-bottom: 46px;
}

.feedback-slider p{
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 35px;
	color:#1a242d;
	/*
	padding: 0 15px;
	*/
}

.feedback-slider .person,
.feedback-slider .person-pos{
	color: #989ca1;
	margin: 0;
}

.feedback-slider img {
	margin-bottom: 20px;
}

.feedback-slider a{
	color: #f34026;
	text-decoration: none;
}

.feedback-slider a:hover{
	color: #f34026;
	text-decoration: underline;
}

.feedback-slider .person{
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}
.feedback-slider .container .owl-item {
	/*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);*/
}
.feedback-slider .container .item{
	padding-top: 56px;
	padding-bottom: 50px;
	background-color: #fff;
  margin: 0px;

	-webkit-transition: box-shadow .3s ease-in-out;
	padding-left: 10px;
    padding-right: 10px;
}
.feedback-slider .container .item .item-pos {
	padding-left: 6px;
}
.feedback-slider .owl-carousel .owl-nav .owl-next{
	right: -58px;
}

.feedback-slider .owl-carousel .owl-nav .owl-prev{
	left: -58px;
}

.feedback-slider .owl-theme .owl-nav [class*=owl-]{
	background-color: transparent;
	width: 45px;
	position: absolute;
	top: 45%;
	margin-top: -25px;
}


.feedback-slider .owl-theme .owl-dots .owl-dot span{
	background-color: #989ca1;
}

.feedback-slider .owl-theme .owl-dots .owl-dot.active span{
	background-color: transparent;
	height: 14px;
	width: 14px;
	margin-bottom: 3px;
	border: 4px solid #f34026;
}

.owl-theme .owl-dots{
	margin-top: 17px;
	position: relative;
	bottom: -18px;
}

.feedback-slider .st0{
	fill: #989ca1;
	stroke: none;
	width: 42px;
}

.owl-carousel .owl-item img{
	display: inline-block;
	max-width: 360px;
}

/* --------------------------------------PORTFOLIO-------------------------------------- */
.portfolio{
	padding-bottom: 98px;
	padding-top: 67px;
}
.portfolio h2 {
	margin-bottom: 50px;
}
.portfolio .row-space{
	margin-bottom: 10px;
}

.my-btn-3{
	background-color: transparent;
	border: 2px solid #f34026;
	color: #f34026;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 12px;
	outline: none;
	padding: 15px 25px;
	text-transform: uppercase;
	margin-top: 55px;
}

.my-btn-3:hover,
.my-btn-3:active,
.my-btn-3:focus{
	background-color: #c2230a;
	border: 2px solid #c2230a;
	color: #fff;
	outline: none;
}

.portfolio-item a{
	position: relative;
	display: inline-block;
	max-width: 372px;
}
.portfolio-item a img{
	display: block;
	border-radius: 5px;
}
.portfolio-item a:after{
	content: none !important;
}
.portfolio-item a:hover .portfolio-image-block{
	top:0;
	opacity: 1;
	visibility: visible;
	animation-play-state: running;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.portfolio-image-block{
	position: absolute;
	top:100%;
	left:0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;

	border-radius: 5px;
}
.portfolio-image-discription{
	position: absolute;
	display: inline-block;
	top: 54%;
	transform: translateY(-50%);
	width: 100%;
	padding: 0 15px;
}
.portfolio-image-block .pid-title{
	font-family: 'Circe', sans-serif;
	color: #fff;
	font-size: 24px;
}
.portfolio-image-block .pid-text{
	font-family: 'Circe', sans-serif;
	color: #fff;
	font-size: 18px;
}
.portfolio .my-btn-3 {
	color: #f85831;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
	border-radius: 30px;
	background-color: #ffffff;
	background-position: center center;
	border: 2px solid #f85831;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	padding: 15px 60px;
}
.portfolio .my-btn-3:hover {
	background-color: #f85831;
	border-color: #f85831;
	color: #ffffff;
}
.portfolio .row-sapce {
	margin-bottom: 21px;
}

/* --------------------------------------ADVENTAGES-------------------------------------- */
.advantage{
	background-color: #fff;
	padding: 0 0 77px;
}

.advantage .adv-icon{
	position: relative;
}

.advantage .adv-icon p{
	color: #dadfe4;
	font-family: 'Circe', sans-serif;
	font-weight: 900;
	font-size: 152px;
	margin: 0;
	vertical-align: top;
	line-height: 0.7;
}

.main-content .advantage .adv-icon svg .st0{
	fill: #f34026;
	stroke-width: 0.5;
}


.main-content .advantage .adv-icon svg{
	height: 95px;
	width: 95px;
	position: absolute;
	top: 40%;
	left: 50%;
}

.advantage p,
.services p{
	font-family: 'Circe', sans-serif;
	font-size: 18px;
	color: #1a242d;
	margin-top: 60px;
	padding: 0 37px;
	font-weight: 300;
}

.advantage h2{
	margin-bottom: 65px;
	padding: 67px 0 0px;
}


/* --------------------------------------SERVICES-------------------------------------- */
.services{
	background-color: #efefef;
	padding: 67px 0 85px;
}
.services h2 {
	margin-bottom: 50px;
}
.services .info-block{
	background-color: #fff;
	padding: 28px 31px;
	text-align: left;
	max-width: 375px;
	margin: 0 auto;
	display: block;
	box-shadow: 0px 3px 8px 0 rgba(193,198,207,1);
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    min-height: 230px;
	border-radius: 5px;
}
.services .info-block a:hover {
	text-decoration: none;
}
.services .info-block p {
	margin-top: 00px;
	padding: 0;
}
.services .more-link {
	display: block;
	margin-top: 50px;
	font-size: 16px;
	font-weight: 300;
	color:#f85831;
	text-decoration: none;
}
.services .info-block:hover{
	-webkit-box-shadow:0 10px 25px 0 rgba(193,198,207,1);
	-moz-box-shadow:0 10px 25px 0 rgba(193,198,207,1);
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10) ;
	text-decoration: none;
}

.services h5{
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #1a242d;
	/*margin-top: 35px;*/
	margin-bottom: 13px;
}

.services .row-space{
	margin-bottom: 25px;
}

.services svg .st0{
	fill: none;
	stroke: #F75831;
}

.services svg{
	width: 65px;
}

/* --------------------------------------BANER-------------------------------------- */
.baner{
	background: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	padding: 47px 0;
	position: relative;
}

.baner h1{
	font-family: 'Circe', sans-serif;
	font-size: 46px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 24px;
	padding-left: 34px;
	padding-right: 114px;
	line-height: 1.2;
}

.baner p{
	font-family: 'Circe', sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: 300;
}

.baner .baner-disc{
	font-size: 22px;
	margin-bottom: 40px;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	padding-left: 34px;
	padding-right: 0;
	line-height: 1.5;
}

.baner .count{
	font-size: 95px;
}


.baner .count-2{
	margin-left: -40px;
	font-size: 95px;
}

.baner .bg-laptop{
	background: url(http://1072048.webspeak.web.hosting-test.net/webspeak_main/all_works/template/img/main/leptop-bg.png) no-repeat transparent;
	height: 535px;
    position: absolute;
    right: 0;
	bottom: -57px;
    z-index: 0;
}
.col-text {
	float: left;
	text-align: left;
	padding: 17px 0 0 20px;
	line-height: 1.6;
}
.baner .col-number {
	float: left;
	padding-left: 42px;
}
.baner .col-xs-5 .col-number{
	padding-left: 60px;
}
.baner .col-xs-3 .col-number{
	padding-left: 10px;
}
.direction{
	padding-bottom: 80px;
	padding-top: 80px;
}

.direction h2{
	margin-bottom: 65px;
}

.direction p{
	color: #1a242d;
	margin-bottom: 40px;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
}

.direction .row-space{
	margin-bottom: 45px;
}

.profit .st0,
.profit .st1{
	fill: #F75831;
}

.profit svg{
	width: 75px;
}

.profit h5{
	color: #1a242d;
	margin: 45px 0;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 24px;
}

.profit p{
	color: #1a242d;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
}

.profit .long{
	margin: 32px 0;
}

.profit h2{
	margin-bottom: 35px;
}

.text{
	margin-bottom: 35px;
	margin-top: 140px;
	font-family: 'Circe', sans-serif;
	font-size: 18px;
}

.banner-about{
	background: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	-webkit-background-size: cover;
	background-size: cover;
}

.banner-about .container{
	padding: 103px 0;
	position: relative;
}

.banner-about h1{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-size: 46px;
	font-weight: 600;
	margin-bottom: 45px;
}

.banner-about .baner-disc{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 22px;
}

.banner-about .krosh{
	position: absolute;
	top: 35px;
	left: 15px;
}

.banner-about .krosh p{
	color: #fff;
}

.banner-about .krosh p a{
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.banner-about .krosh p a:hover{
	/*text-decoration: underline;*/
	border-bottom:1px solid #fff;
}

.banner-about .krosh p i{
	margin: 0 10px;
}

.banner-about .krosh p span {
	color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;
}

.banner-about .row{
	margin: 0;
}

/**popup*/ 

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  cursor: default;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 99999;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.popup {
  background: #fff;
  background-size: 100%;
  display: inline-block;
  left: 50%;
  opacity: 0;
  position: fixed;
  top: 50%;
  visibility: hidden;
  z-index: 999999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s;
  border-radius: 6px;
  max-height: 100%;
  overflow: auto;
}
.popup.city-choice {
	-webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: absolute;
  top: 100px;
  right: 355px;
  width: 380px;
  left: inherit;
  border-radius: 10px;
  transition: all 0s;
	box-shadow: 0 3px 7px rgba(0,0,0,.35);
	padding: 25px 40px;
	text-align: center;
	overflow: visible;
}

.popup.city-choice .close_order {
	background: url('../img/main/close.png') 0 -15px no-repeat;

  top: 28px;
  right: 27px;
}

.popup.city-choice:before {
	content: '';
	display: inline-block;
	width: 36px;
	height: 20px;
	background: url('../img/main/popup-before.png') center no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -18px;
	top: -20px;
}

.popup.city-choice ul {
	list-style: none;
}

.popup.city-choice .title p {
	color: #1a242d;
	font-size: 22px;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	margin: 0 0 15px;
}

.popup.city-choice ul {
	 line-height: 35px;
}

.popup.city-choice ul li a {
	color: #989ca1;
	font-size: 18px;
	font-family: 'Circe',sans-serif;
	font-weight: 300;
}

.popup.city-choice ul li a.active {
	color: #f34128;
}

.popup.city-choice ul li a:hover {
	color: #f34026;
	text-decoration: none;
}

.popup .close_order {
  display: block;
  background: url('../img/main/close.png') no-repeat;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
	background-position: 0 -15px;
  width: 13px;
  height: 13px;
  border-radius: 0px;
  opacity: 0.6;
}

.popup .close_order:hover {
  opacity: 1;
	background-position: 0 0px;
}

.popup.order-call {
	padding: 30px 70px;
	border-radius: 10px;
	text-align: center;
}

.popup.order-call .title p {
	color: #1a242d;
	font-size: 32px;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	margin: 0 0 60px;
}

.popup.order-call .form-input {
	display: table;
	margin: 0 auto ;
	width: auto;
	text-align: center;
	border: 2px solid #dadfe4;
	padding: 10px 15px;
	color: #989ca1;
	border-radius: 5px 5px 0 0;
	min-width: 355px;
}
.popup.order-call .form-input[name='phone'] {
	border-radius: 0px 0px 5px 5px;
	border-top:0;
}
.popup.order-call .popup-btn {
	border-radius: 5px;
	background-color: #f34026;
	font-family: 'Circe', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	padding: 10px 15px;
	min-width: 360px;
	border: 2px solid transparent;
	margin: 30px 0 0;
	border-radius: 30px;
}

.popup.order-call .popup-btn:hover {
	background: transparent;
	border: 2px solid #f33f25;
	color: #f33f25;
}

.popup.order-call .form-input::-webkit-input-placeholder {
  color: #989ca1 !important;
}

.popup.order-call .form-input::-moz-placeholder {
  color: #989ca1 !important;
}

.popup.order-call .form-input:-moz-placeholder {
  color: #989ca1 !important;
}

.popup.order-call .form-input:-ms-input-placeholder {
  color: #989ca1 !important;
}

.popup.order-call.thnx {
	padding: 130px;
}

.popup.order-call.thnx .title p {
	margin: 0 0 20px;
}
.cta-banner {
	background-image: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	padding: 69px 0 71px;
	text-align: center;
	color: #ffffff;
	font-size: 32px;
}
.why-we-the-one {
	padding: 87px 0 109px;
}
.why-we-the-one .description {
	font-size: 22px;
	line-height: 34px;
	margin-bottom: 55px;
}
.why-we-the-one .why-wrap {
	padding-top: 50px;
}
.why-we-the-one .why-title {
	padding-bottom: 15px;
	font-size: 28px;
	font-family: 'Circe',sans-serif;
	font-weight: 600;
}
.why-we-the-one .why-text {
	font-size: 18px;
	font-weight: 300;
	color: #000;
	line-height: 1.55;
}
.why-profit {
	padding: 95px 0 50px;
}
.why-profit h2 {
	margin-bottom: 90px;
}
.why-profit .img-wrap {
	width: 55px;
	height: 55px;
	margin: 0 auto;
}
.why-profit .profit-title {
	margin-bottom: 14px;
	font-size: 22px;
	line-height: 30px;
	font-weight: 600;
}
.why-profit .profit-text {
	font-weight: 300;
	color: #000;
	font-size: 18px;
	line-height: 1.55;
	margin-bottom: 55px;
}
.word-lead {
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #ededed;
}
.word-lead .word-wrap {
	position: relative;
	font-size: 28px;
	line-height: 36px;
	font-weight: 700;
	padding:20px 0 20px 100px;
}
.word-lead .word-wrap:before {
	position: absolute;
	top:0;
	left: 100px;
	width: 100%;
	height: 33px;
	background: url("../img/page/rectangle_up.svg") no-repeat;
	content: '';
}
.word-lead .word-wrap:after {
	position: absolute;
	bottom:-30px;
	left: 100px;
	width: 100%;
	height: 33px;
	background: url("../img/page/rectangle_down.svg") no-repeat;
	content: '';
}
.word-lead .lead-wrap {
	padding: 0 0 0 100px;
	margin-top: 60px;
}
.word-lead .lead-wrap img {
	border-radius: 50%;
}
.word-lead .lead-wrap .name {
	line-height: 22px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 3px;
}
.word-lead .lead-wrap .status {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1px;
	color:#000;
	font-weight: 300;
}
.direction p{
	font-size: 18px;
	font-weight: 300;
	line-height: 1.55;
}
.direction h2 {
	position: relative;
	margin-bottom: 50px;
	line-height: 1.4;
	padding-top: 24px;
}
.direction h2:before {
	position: absolute;
	top:0;
	content: '';
	width: 100%;
	max-width: 240px;
	height: 1px;
	background-color: #000;

}
.step-to-step {
	padding-top: 75px;
	padding-bottom: 15px;
	background-color: #efefef;
}
.step-to-step h2 {
	margin-bottom: 105px;
}
.step-to-step .step-title {
	font-size: 22px;
	line-height: 30px;
	padding-bottom: 13px;
	font-weight: 600;
	color: #000;
	padding-left: 5px;
}
.step-to-step .step-text {
	font-weight: 300;
	color: #000;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 75px;
	padding-left: 5px;
}
.step-to-step .number-col {
	padding: 0;
}
.step-to-step .number-col .wrap{
	text-align: center;
	background-color: #f85831;
	color: #ffffff;
	display: block;
	width: 60px;
	height: 60px;
	font-size: 20px;
	line-height: 60px;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 50%;
}
.banner-with-img .container{
	padding: 103px 0 50px;
}
.right-context {
	padding-top: 75px;
	padding-bottom: 120px;
	text-align: center;
}
.right-context h2 {
	margin-bottom: 40px;
}
.right-context .context-icon {
	margin-bottom: 25px;
}
.right-context .context-icon img {
	width: 100px;
}
.right-context .context-title {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 25px;
	margin-top: 12px;
	font-weight: 600;
}
.right-context .context-text {
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
}
.services .description {
	font-size: 22px;
	line-height: 34px;
	text-align: center;
	margin-bottom: 90px;
}
.context-service h2 {
	margin-bottom: 20px;
}
.why-dev {
	background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(248,88,49,1)), to(rgba(249,147,35,1)) );
	background-image: -webkit-linear-gradient(top, rgba(248,88,49,1), rgba(249,147,35,1));
	background-image: linear-gradient(to bottom, rgba(248,88,49,1), rgba(249,147,35,1));
	padding: 81px 0 90px;
	text-align: center;
}
.why-dev h2 {
	margin-bottom: 105px;
	color:#fff;
}
.why-dev .dev-icon {
	text-align: center;
	margin-bottom: 35px;
}
.why-dev .dev-title {
	color: #ffffff;
	font-size: 22px;
	line-height: 1.55;
	font-weight: 600;
	margin-bottom: 25px;
}
.why-dev .dev-text {
	color: #ffffff;
	font-size: 18px;
	line-height: 1.55;
	font-weight: 400;
}
.step-by-dev {
	padding-top: 90px;
	padding-bottom: 105px;
}
.step-by-dev h2 {
	margin-bottom: 105px;
 }
.step-by-dev .inner {
	position: relative;
}
.step-by-dev .tree {
	position: absolute;
	width: 2px;
	top: 6px;
	background: #222;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 87%;
}
.step-by-dev .tree-title {
	font-size: 22px;
	line-height: 28px;
	margin-bottom: 6px;
	margin-top: 10px;
	font-weight: 600;
	color: #000;
}
.step-by-dev .tree-text {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
}
.step-by-dev .step-by-dev-item {
	position: relative;

}
.step-by-dev .step-by-dev-item.text-right{
	padding-right: 56px;
}
.step-by-dev .step-by-dev-item.text-left{
	padding-left: 56px;
}
.step-by-dev .step-by-dev-item.text-right .tree-number {
	left: 94%;
}
.step-by-dev .step-by-dev-item.text-left .tree-number {
	right: 94%;
}
.step-by-dev .tree-number {
	position: absolute;
	width: 46px;
	height: 46px;
	top: 5px;
	background: #f85831;
	border-radius: 50%;
	color:#fff;
	font-size: 20px;
	line-height: 1.35;
	font-weight: 600;
	padding: 10px 18px;
	border:1px solid #fff;
}
.owl-theme .owl-dots .owl-dot span {
	margin: 5px 12px;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.info p a {
		font-size: 12px;
	}

	.info svg {
		margin-right: 8px;
	}
	.services h5{
		font-size: 20px;
	}
	
	.feedback-slider .owl-carousel .owl-nav .owl-next{
		right: 0;
	}

	.feedback-slider .owl-carousel .owl-nav .owl-prev{
		left: -8px;
	}
	.popup.city-choice {
		top: 175px;
    right: 100px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.info p a {
		font-size: 14px;
	}

	.info svg {
		margin-right: 15px;
	}
	.feedback-slider .owl-carousel .owl-nav .owl-next{
		right: -15px;
	}

	.feedback-slider .owl-carousel .owl-nav .owl-prev{
		left: -25px;
	}

	.services h5{
		font-size: 24px;
	}

	.navbar-default .navbar-collapse{
		text-align: left;
	}

	.navbar-default .navbar-nav{
		display: block;
	}

	.col-space{
		margin-bottom: 35px;
	}

	.info .form-control.form-email{
		width: 60%;
	}

	.portfolio .portfolio-item a:hover:after {
		padding-top: 75px;
	}

	.navbar-default .navbar-brand{
		max-width: 170px;
		margin-top: 0;
		float: right;
	}

	.navbar-default .navbar-toggle{
		float: left;
		border: none;
	}

	header .navbar-default,
	.navbar{
		margin: 0;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #263346;
	}

	.navbar-default .navbar-nav>li>a.location{
		display: inline-block;
	}

	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover{
		background-color: transparent;
	}

	.container>.navbar-header{
		margin-right: 0;
		margin-left: 0;
	}

	.navbar-default .navbar-nav>li>a{
		border-bottom: 1px solid #e6e6e6;
		margin-top: 0;
	}

	.navbar-default .navbar-nav>li>.with-icon{
		line-height: 40px;
		background-color: #f2f2f2;
	}

	.navbar-default .navbar-nav>li>.with-icon i{
		margin-right: 25px;
		color: #1a242d;
	}

	.navbar-default .navbar-nav .our-contacts{
		padding-left: 10px;
	}

	.navbar-default .navbar-nav .our-contacts i{
		margin-right: 15px;
		color: #1a242d;
	}

	.navbar-default .navbar-nav .our-contacts p{
		margin-bottom: 15px;
	}

	.navbar-default .navbar-nav .our-contacts p span{
		display: inline-block;
		margin-left: 25px;
	}

	.navbar-default .navbar-nav .our-contacts p a{
		color: #1a242d;
		display: block;
	}

	.navbar-default .navbar-nav .our-contacts p a:hover{
		color: #F34026;
		text-decoration: none;
	}

	.navbar-default .navbar-nav>li>.block-li-title{
		border: none;
		margin-top: 0;
		padding-bottom: 0;
	}

	.navbar-default .navbar-nav>li>.block-li-title:hover{
		color: #1a242d;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.navbar-right{
		position: inherit;
	}

	.info .form-control.form-email{
		width: 60%;
	}

	.trust,
	.contact-us,
	footer,
	.result-slider,
	.feedback-slider,
	.advantage,
	.services{
		padding: 45px 0;
	}

	.copy .position-icon{
		text-align: center;
		margin-bottom: 15px;
	}

	.copy .position{
		text-align: center;
	}

	.baner h1,
	.banner-about h2{
		font-size: 26px;
		text-align: center;
	}

	.baner .count,
	.baner .count-2{
		font-size: 46px;
	}

	.banner-about .baner-disc{
		font-size: 18px;
	}

	.baner p{
		font-size: 11px;
	}

	.baner img{
		max-width: 195px;
	}

	.feedback-slider .owl-carousel .owl-nav .owl-next{
		right: 0;
	}

	.feedback-slider .owl-carousel .owl-nav .owl-prev{
		left: 0;
	}

	h2{
		font-size: 26px;
		margin-bottom: 25px;

	}

	.advantage p,
	.services p,
	.profit p{
		font-size: 16px;
	}

	.services h5{
		font-family: 'Circe', sans-serif;
		font-size: 20px;
		color: #1a242d;
		margin-top: 35px;
		margin-bottom: 20px;
	}

	.owl-theme .owl-nav [class*=owl-]{
		display: none !important;
	}
	
	.item-pos{
		text-align: center;
	}

	.result-slider p{
		margin-bottom: 15px;
		font-size: 16px;
	}

	.result-slider h4{
		font-size: 20px;
	}

	.text-right{
		text-align: center !important;
		margin-top: 0;
	}
	
	.my-btn-3{
		margin-top: 0;
	}

	.trust .discription{
		margin-bottom: 60px;
		font-size: 16px;
	}

	.discription,
	.direction p{
		font-size: 16px;
	}

	.trust .owl-theme .owl-dots .owl-dot span{
		background-color: #989ca1;
	}

	.trust .owl-theme .owl-dots .owl-dot.active span{
		background-color: transparent;
		height: 13px;
		width: 14px;
		margin-bottom: 3px;
		border: 4px solid #f34026;
		border-radius: 50%;
	}
	.contact-us form div{
		position: relative;
	}

	.checkbox-custom{
		position: absolute;	
		bottom: 0;
		left: 50%;
	}

	.lists{
		text-align: center;
	}

	.text{
		margin-top: 60px;
	}

	.my-btn-2 {
	    margin: 35px auto;
	}
	.feedback-slider .container .item {
		box-shadow: none;
		margin: 0;
	}
	.popup.order-call {
		width: 90%;
		padding: 15px 30px;
	}
	.popup.order-call .form-input,
	.popup.order-call .popup-btn {
		min-width: 100%;
	}
	.popup.order-call.thnx {
    padding: 30px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.owl-carousel .owl-item img{
		max-width: 230px;
	}
}
@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}