.navbar-brand {
    width: calc(100% - 85px);
}
.navbar {
    padding: 0;
    margin-top: 28px;
}
.navbar a {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.navbar a:hover {
    color: #8ca522;
}
.navbar-toggler-icon {
    background-image: url("../../img/template/burger.svg");
}
.nav-link {
    padding: 11px;
}
/* Carousel */
.carousel-caption {
    top: 35%;
    padding: 0;
}
.carousel-caption h3 {
    font-weight: 300;
    line-height: 1.31;
}
.carousel-control-prev-icon {
    background-image: url("../../img/template/arrow_left.svg");
}
.carousel-control-next-icon {
    background-image: url("../../img/template/arrow_right.svg");
}