/* Small devices (phones, 320px and up) */
@media (min-width: 320px) {
    /* Header */
    .header_logo {
        display: none;
    }
    #localselect {

    }
    /* Nav */
    .navradius {
        padding: 0 15px;
    }
    /* Main */
    #slider {
        display: none;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Header */
    #localselect {
        margin-left: 15px;
    }
    .header_phone {
        font-size: 16px;
    }
    .header_mail {
        font-size: 12px;
    }
    /* Main */
    #slider {
        display: block;
    }
    /* Framework */
    .carousel-caption h3 {
        font-size: 35px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Header */
    .header_logo {
        display: block;
    }
    .nav_logo {
        display: none;
    }
    /* Nav */
    .navradius {
        padding: 0 46px;
    }
    /* Framework */
    .carousel-caption h3 {
        font-size: 48px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Header */
    #localselect {
        margin-left: 30px;
    }
    .header_phone {
        font-size: 20px;
    }
    .header_mail {
        font-size: 16px;
    }
    /* Framework */
    .carousel-caption h3 {
        font-size: 64px;
    }
}