/* Header */
.header_form {
    margin-top: 5px;
}
.header_form input, .header_form button {
    background-color: #ececec;
    border: none;
    min-height: 46px;
}
.header_social_links,
.local {
    padding: 0;
    margin-bottom: 0;
    margin-top: 15px;
    list-style: none;
    display: flex;
    float: left;
}
.header_social_links a {
    padding: 0 10px;
}
#localselect {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border-bottom: dashed 1px;
    padding: 0;
}
.local .dropdown-toggle::after {
    display: none;
}
.header_contacts img {
    float: left;
}
.header_contacts {
    display: block;
    float: right;
    width: 100%;
}
.header_contacts ul {
    float: left;
    list-style: none;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 0;
}
.header_contacts a {
    color: #000;
}
.header_phone {
    font-weight: 600;
}
/* Nav */
.navradius {
    background-color: #fff;
    border-radius: 5px;
    z-index: 10;
}
.navright img {
    padding-right: 10px;
}
/* Main */
#slider {
    margin-top: -80px;
}
/* About */
.about {
    background-color: #f4eee5;
    padding: 36px 0 56px 0;
}
.about h2 {
    padding: 43px 0 18px 0;
}
.about p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 56px;
}
/* Cards */
.cards {
    padding-top: 54px;
    background-color: #fff;
    padding-bottom: 77px;
}
.cardHeader {
    margin-top: 25px;
    float: left;
    width: 100%;
    min-height: 89px;
    border-radius: 5px 5px 0 0;
    background-color: #8ba422;
    padding: 20px 20px 0 20px;
}
.cardHeader h4 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    color: #fff;
}
.cardBody {
    float: left;
    width: 100%;
    min-height: 280px;
    background-image: linear-gradient(#f4eee5, #f4eee5);
    padding: 20px 20px 0 20px;
}
.cardBody ul {
    padding: 0;
    list-style: none;

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.06;
    letter-spacing: normal;
}
.cardFooter {
    float: left;
    width: 100%;
    min-height: 90px;
}
.cardFooter img {
    max-width: 220px;
    position: absolute;
    right: 0;
    bottom: 0;
}