@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #dedede;
}
header {
    padding: 30px 0;
    background-color: #fff;
}
h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.28;
}
.linkButton {
    padding: 12px 29px;
    border-radius: 5px;
    background-color: #8ca522;
    border: solid 1px #8ca522;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.linkButton:hover {
    text-decoration: none;
    background-color: #fff;
    color: #8ca522;
}