/* REDESIGN 2019 */
.navbar>.container .navbar-brand {
    padding: 2px 0px 0 58px;
}
header .navbar-default {
    background: #191A1B;
    height: 75px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a i {
    display: none;
}
.navbar-default .navbar-nav>li>a.location {
    font-size: 12px;
    line-height: normal;
    text-transform: unset;
    font-weight:normal;
    border: 0;
    color: #FFFFFF;
}
.navbar-default .navbar-nav li a.head-phone {
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a.location:hover {
    border-bottom: 1px transparent;
}
.navbar-default .navbar-nav>li>a.location:hover path {
    fill:#F3542F;
}
.navbar-default .navbar-nav li a.head-phone:hover {
    color:#fff;
}
.navbar>.container .navbar-brand img {
    width: 242px;
}
.navbar-default .navbar-nav {
    padding: 0 0 0 73px;
    height: 100px;
}
.navbar-default .navbar-nav > li {
    height: 100px;
}
.navbar-nav>li>.dropdown-menu {
    /*width: 196px;*/
    padding: 25px 35px 30px;
    border-radius: 0;
    top:74%;
}
.navbar-nav>li>.dropdown-menu li {
    margin-bottom: 12px;
}
.navbar-nav>li>.dropdown-menu li a {
    font-size: 16px;
    line-height: normal;
    padding: 0;
    display: block;

    color: #000000;
}
.navbar-nav>li>.dropdown-menu li a:hover {
    background: none;
    color: #F3542F;
}
.navbar-nav>li>.dropdown-menu li:last-child {
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    margin-top: 17px;
}
.section-title {
    font-size: 42px;
    line-height: normal;
    margin-bottom: 75px;
    color: #000000;
    font-weight: 500;
}
section.new-main-screen {
    background: url('../img/main-screen-bg.svg') bottom right no-repeat, #422498;
    padding: 79px 0 85px;
}
section.new-main-screen .title {
    font-size: 58px;
    line-height: 74px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 109px;
}
section.new-main-screen .description {
    font-size: 28px;
    font-weight: 300;
    color: #FFFFFF;
    /*margin-bottom: 54px;*/
    line-height: 150%;
}
section.new-main-screen .row.d-flex {
    display: flex;
    align-items: flex-end;
}
section.new-main-screen .social a {
    display: inline-block;
    margin-right: 17px;
    transition: .3s;
}
section.new-main-screen .social a:hover svg path {
    fill:#F3542F;
}
section.service {
    padding: 112px 0 113px;
    background: #EFEFEF;
}
section.service .row.space {
    margin-bottom: 30px;
}
section.service .service-item .wrap {
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    padding: 25px 31px;
    transition: 0.3s;
}
section.service .service-item .wrap a:hover {
    text-decoration: none;
    border: none;
}
section.service .service-item .wrap:hover {
    box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.2);
}
section.service .service-item .wrap:hover .fade-link {
    opacity: 1;
}
section.service .service-item .title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 25px;
}
section.service .service-item .description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 26px;
}
section.service .service-item .fade-link {
    text-align: right;
    opacity: 0;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F3542F;
    font-weight: 500;
    transition: 0.3s;
}
section.numerals {
    background: #422498;
    padding: 55px 0 37px;
    text-align: center;
}
section.numerals .number {
    /*font-family: 'Roboto Mono', monospace;*/
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 49px;
    margin-bottom: 3px;
    color: #FFFFFF;
}
section.numerals .number-name {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 300;
}
section.main-project {
    padding: 104px 0 125px;
}
section.main-project .project-item {}
section.main-project .project-item .wrap {
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    padding-bottom: 25px;
    position: relative;
    transition: .3s;
}
section.main-project .project-item .wrap .arrow {
    position: absolute;
    bottom: 20px;
    right: 30px;
    opacity: 0;
}
section.main-project .project-item .wrap:hover {
    box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.2);
}
section.main-project .project-item .wrap:hover .arrow {
    opacity: 1;
}
section.main-project .project-item .img-wrap {
    margin-bottom: 20px;
}
section.main-project .project-item a:hover {
    text-decoration: none;
    border: none;
}
section.main-project .project-item .title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 11px;
    padding-left: 30px;
}
section.main-project .project-item .description {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #000000;
    opacity: 0.5;
    padding-left: 30px;
    /*margin-bottom: 25px;*/
}

section.main-project .row.space {
    margin-bottom: 30px;
}
section.main-project .btn-orange {
    font-size: 18px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #F3542F;
    color: #FFFFFF;
    padding: 16px 0;
    width: 320px;
    font-weight: 500;
}
section.review-slider {
    padding: 105px 0 102px;
    background: #EFEFEF;
}
.owl-carousel .owl-stage-outer {
    /*padding: 8px 5px;*/
}
.owl-carousel .owl-stage-outer .item {
    padding: 8px 5px;
}
.more-btn {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
}
.more-btn a {
    font-size: 14px;
    line-height: normal;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
}
.more-btn a:hover path {
    stroke: #F3542F !important;
}
.more-btn .wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.more-btn .wrap a .name-link {
    margin-right: 20px;
}
.more-btn .wrap a:hover {
    color: #F3542F;
    text-decoration: none;
}
section.main-blog .more-btn a:hover .arrow-link  path {
    stroke: #F3542F !important;
}
section.review-slider .item .wrap {
    padding: 50px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    transition: .3s;
}
.owl-theme .owl-nav [class*=owl-]:hover svg path {
    fill: #F3542F;

}
section.review-slider .item .wrap:hover {
    box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.2);
}
section.review-slider .item .wrap .review-text {
    font-size: 18px;
    line-height: 31px;
    font-weight: 300;
    color: #000000;
}
section.review-slider .item .wrap .review-text p {
    margin-bottom: 20px;
}
section.review-slider .item .wrap .review-text p:last-child {
    margin-bottom: 0;
}
section.review-slider .item .wrap .review-bottom {
    margin-top: 45px;
}
section.review-slider .item .wrap .name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    opacity: 0.5;
}
section.review-slider .item .number {
    text-align: right;
    padding-top: 18px;
}
section.review-slider .item .arrow-right {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
section.review-slider .item .arrow-left {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
section.review-slider .item .counter {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
}
section.review-slider .owl-dots {
    display: none !important;
}
section.review-slider .owl-theme .owl-nav [class*=owl-] {
    position: static;
}
section.review-slider .owl-theme .owl-nav {
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 45px;
    right: 95px
}
section.main-blog {
    padding: 98px 0 137px;
    background: #fff;
}
section.main-blog .more-btn a {
    color: #000;
}
section.main-blog .more-btn .arrow-link path {
    stroke: #000 !important;
}
section.main-blog h2 {
    color:#000;
}
section.main-blog .blog-item .img-wrap {
    height: 256px;
    background-size:cover;
}
section.main-blog .blog-item {

}
section.main-blog .blog-item .bottom {
    background: #FFFFFF;
    padding: 23px 30px;
    position: relative;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
}
section.main-blog .blog-item .wrap:hover .arrow {
    opacity: 1;
}
section.main-blog .blog-item .bottom .title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 33px;
}
section.main-blog .blog-item .bottom .title a {
    color:#000;
}
section.main-blog .blog-item .bottom .title a:hover {
    text-decoration: none;
    border: none;
}
section.main-blog .blog-item .bottom .date {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #000000;
}
section.main-blog .blog-item .bottom .arrow {
    opacity: 0;
    transition: .3s;
    position: absolute;
    bottom: 22px;
    right: 34px;
}
section.main-blog .blog-item .wrap:hover {
    box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.2);
}
/*section.review-slider*/
section.cta {
    background: url("../img/cta-bg.svg") center right no-repeat, #422498;
    /*background-size: cover;*/
    padding: 89px 0 114px;
}
section.cta .cta-title {
    font-size: 42px;
    line-height: normal;
    margin-bottom: 50px;
    color: #fff;
    font-weight: 500;
}
section.cta .cta-title.nm {
    margin-bottom: 0;
}
section.cta .cta-description {
    font-size: 22px;
    line-height: 34px;
    font-weight: 300;
    color: #fff;
    /*margin-bottom: 100px;*/
}
section.cta .btn-orange {
    font-size: 18px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #F3542F;
    color: #FFFFFF;
    /*padding: 16px 0;*/
    width: 320px;
    font-weight: 500;
    height: 24px;
}
.glitch-btn {
    font-size: 18px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: #F3542F;
    color: #FFFFFF;
    /*padding: 16px 0;*/
    width: 320px;
    font-weight: 500;
    height: 24px;
}
.glitch-btn:hover {
    color:#fff;
}
section.certificate {
    padding: 122px 0 135px;

}
section.certificate .text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 25px;
}
.btn-orange.glitch-btn {
    position: relative;
    padding: 0;
    height: 24px;
    border-radius: 0;
    border:none;
    transition: 0.2s;
}
.btn-orange.glitch-btn:before {
    position: absolute;
    top:-19px;
    left: 0;
    display: block;
    content: '';
    background: #F3542F;
    height: 20px;
    width: 100%;
    transition: 0.2s;
}
.btn-orange.glitch-btn:after {
    position: absolute;
    bottom: -19px;
    left: 0;
    display: block;
    content: '';
    background: #F3542F;
    height: 20px;
    width: 100%;
    transition: 0.2s;
}
.btn-orange.glitch-btn:hover:after {
    left: -20px;
}
.btn-orange.glitch-btn:hover:before {
    left: 20px;
}
.btn-orange.glitch-btn:hover{
    /*animation: glitchin2 0.2s 0.3s both;*/
}




@-webkit-keyframes glitchin1 {
    100% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
    95% {
        opacity: 1;
        -webkit-transform: translate(0.5px, 0.05px);
        transform: translate(0.5px, 0.05px);
    }
    90% {
        -webkit-transform: translate(0.6px, -0.3px);
        transform: translate(0.6px, -0.3px);
    }
    85% {
        -webkit-transform: translate(1.2px, 0px);
        transform: translate(1.2px, 0px);
    }
    80% {
        -webkit-transform: translate(1.2px, 0.2px);
        transform: translate(1.2px, 0.2px);
    }
    75% {
        -webkit-transform: translate(0.5px, 1px);
        transform: translate(0.5px, 1px);
    }
    70% {
        -webkit-transform: translate(0.3px, 1.2px);
        transform: translate(0.3px, 1.2px);
    }
    65% {
        -webkit-transform: translate(-2.1px, 0.7px);
        transform: translate(-2.1px, 0.7px);
    }
    60% {
        -webkit-transform: translate(3.6px, 0.4px);
        transform: translate(3.6px, 0.4px);
    }
    55% {
        -webkit-transform: translate(0.45px, 1.8px);
        transform: translate(0.45px, 1.8px);
    }
    50% {
        -webkit-transform: translate(-3px, -1px);
        transform: translate(-3px, -1px);
    }
    45% {
        -webkit-transform: translate(-4.4px, 1.1px);
        transform: translate(-4.4px, 1.1px);
    }
    40% {
        -webkit-transform: translate(-4.2px, 2.4px);
        transform: translate(-4.2px, 2.4px);
    }
    35% {
        -webkit-transform: translate(2.6px, 1.3px);
        transform: translate(2.6px, 1.3px);
    }
    30% {
        -webkit-transform: translate(-1.4px, 2.8px);
        transform: translate(-1.4px, 2.8px);
    }
    25% {
        -webkit-transform: translate(6px, 0.75px);
        transform: translate(6px, 0.75px);
    }
    20% {
        -webkit-transform: translate(0px, -1.6px);
        transform: translate(0px, -1.6px);
    }
    15% {
        -webkit-transform: translate(-5.95px, -0.85px);
        transform: translate(-5.95px, -0.85px);
    }
    10% {
        -webkit-transform: translate(3.6px, 3.6px);
        transform: translate(3.6px, 3.6px);
    }
    5% {
        -webkit-transform: translate(-0.95px, -0.95px);
        transform: translate(-0.95px, -0.95px);
    }
    1% {
        opacity: 1;
    }
}
@keyframes glitchin1 {
    100% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
    95% {
        opacity: 1;
        -webkit-transform: translate(0.5px, 0.05px);
        transform: translate(0.5px, 0.05px);
    }
    90% {
        -webkit-transform: translate(0.6px, -0.3px);
        transform: translate(0.6px, -0.3px);
    }
    85% {
        -webkit-transform: translate(1.2px, 0px);
        transform: translate(1.2px, 0px);
    }
    80% {
        -webkit-transform: translate(1.2px, 0.2px);
        transform: translate(1.2px, 0.2px);
    }
    75% {
        -webkit-transform: translate(0.5px, 1px);
        transform: translate(0.5px, 1px);
    }
    70% {
        -webkit-transform: translate(0.3px, 1.2px);
        transform: translate(0.3px, 1.2px);
    }
    65% {
        -webkit-transform: translate(-2.1px, 0.7px);
        transform: translate(-2.1px, 0.7px);
    }
    60% {
        -webkit-transform: translate(3.6px, 0.4px);
        transform: translate(3.6px, 0.4px);
    }
    55% {
        -webkit-transform: translate(0.45px, 1.8px);
        transform: translate(0.45px, 1.8px);
    }
    50% {
        -webkit-transform: translate(-3px, -1px);
        transform: translate(-3px, -1px);
    }
    45% {
        -webkit-transform: translate(-4.4px, 1.1px);
        transform: translate(-4.4px, 1.1px);
    }
    40% {
        -webkit-transform: translate(-4.2px, 2.4px);
        transform: translate(-4.2px, 2.4px);
    }
    35% {
        -webkit-transform: translate(2.6px, 1.3px);
        transform: translate(2.6px, 1.3px);
    }
    30% {
        -webkit-transform: translate(-1.4px, 2.8px);
        transform: translate(-1.4px, 2.8px);
    }
    25% {
        -webkit-transform: translate(6px, 0.75px);
        transform: translate(6px, 0.75px);
    }
    20% {
        -webkit-transform: translate(0px, -1.6px);
        transform: translate(0px, -1.6px);
    }
    15% {
        -webkit-transform: translate(-5.95px, -0.85px);
        transform: translate(-5.95px, -0.85px);
    }
    10% {
        -webkit-transform: translate(3.6px, 3.6px);
        transform: translate(3.6px, 3.6px);
    }
    5% {
        -webkit-transform: translate(-0.95px, -0.95px);
        transform: translate(-0.95px, -0.95px);
    }
    1% {
        opacity: 1;
    }
}
@-webkit-keyframes glitchin2 {
    100% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
    95% {
        opacity: 1;
        -webkit-transform: translate(-0.5px, -0.05px);
        transform: translate(-0.5px, -0.05px);
    }
    90% {
        -webkit-transform: translate(-0.6px, 0.3px);
        transform: translate(-0.6px, 0.3px);
    }
    85% {
        -webkit-transform: translate(-1.2px, 0px);
        transform: translate(-1.2px, 0px);
    }
    80% {
        -webkit-transform: translate(-1.2px, -0.2px);
        transform: translate(-1.2px, -0.2px);
    }
    75% {
        -webkit-transform: translate(-0.5px, -1px);
        transform: translate(-0.5px, -1px);
    }
    70% {
        -webkit-transform: translate(-0.3px, -1.2px);
        transform: translate(-0.3px, -1.2px);
    }
    65% {
        -webkit-transform: translate(2.1px, -0.7px);
        transform: translate(2.1px, -0.7px);
    }
    60% {
        -webkit-transform: translate(-3.6px, -0.4px);
        transform: translate(-3.6px, -0.4px);
    }
    55% {
        -webkit-transform: translate(-0.45px, -1.8px);
        transform: translate(-0.45px, -1.8px);
    }
    50% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
    }
    45% {
        -webkit-transform: translate(4.4px, -1.1px);
        transform: translate(4.4px, -1.1px);
    }
    40% {
        -webkit-transform: translate(4.2px, -2.4px);
        transform: translate(4.2px, -2.4px);
    }
    35% {
        -webkit-transform: translate(-2.6px, -1.3px);
        transform: translate(-2.6px, -1.3px);
    }
    30% {
        -webkit-transform: translate(1.4px, -2.8px);
        transform: translate(1.4px, -2.8px);
    }
    25% {
        -webkit-transform: translate(-6px, -0.75px);
        transform: translate(-6px, -0.75px);
    }
    20% {
        -webkit-transform: translate(0px, 1.6px);
        transform: translate(0px, 1.6px);
    }
    15% {
        -webkit-transform: translate(5.95px, 0.85px);
        transform: translate(5.95px, 0.85px);
    }
    10% {
        -webkit-transform: translate(-3.6px, -3.6px);
        transform: translate(-3.6px, -3.6px);
    }
    5% {
        -webkit-transform: translate(0.95px, 0.95px);
        transform: translate(0.95px, 0.95px);
    }
    1% {
        opacity: 1;
    }
}
@keyframes glitchin2 {
    100% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
    95% {
        opacity: 1;
        -webkit-transform: translate(-0.5px, -0.05px);
        transform: translate(-0.5px, -0.05px);
    }
    90% {
        -webkit-transform: translate(-0.6px, 0.3px);
        transform: translate(-0.6px, 0.3px);
    }
    85% {
        -webkit-transform: translate(-1.2px, 0px);
        transform: translate(-1.2px, 0px);
    }
    80% {
        -webkit-transform: translate(-1.2px, -0.2px);
        transform: translate(-1.2px, -0.2px);
    }
    75% {
        -webkit-transform: translate(-0.5px, -1px);
        transform: translate(-0.5px, -1px);
    }
    70% {
        -webkit-transform: translate(-0.3px, -1.2px);
        transform: translate(-0.3px, -1.2px);
    }
    65% {
        -webkit-transform: translate(2.1px, -0.7px);
        transform: translate(2.1px, -0.7px);
    }
    60% {
        -webkit-transform: translate(-3.6px, -0.4px);
        transform: translate(-3.6px, -0.4px);
    }
    55% {
        -webkit-transform: translate(-0.45px, -1.8px);
        transform: translate(-0.45px, -1.8px);
    }
    50% {
        -webkit-transform: translate(3px, 1px);
        transform: translate(3px, 1px);
    }
    45% {
        -webkit-transform: translate(4.4px, -1.1px);
        transform: translate(4.4px, -1.1px);
    }
    40% {
        -webkit-transform: translate(4.2px, -2.4px);
        transform: translate(4.2px, -2.4px);
    }
    35% {
        -webkit-transform: translate(-2.6px, -1.3px);
        transform: translate(-2.6px, -1.3px);
    }
    30% {
        -webkit-transform: translate(1.4px, -2.8px);
        transform: translate(1.4px, -2.8px);
    }
    25% {
        -webkit-transform: translate(-6px, -0.75px);
        transform: translate(-6px, -0.75px);
    }
    20% {
        -webkit-transform: translate(0px, 1.6px);
        transform: translate(0px, 1.6px);
    }
    15% {
        -webkit-transform: translate(5.95px, 0.85px);
        transform: translate(5.95px, 0.85px);
    }
    10% {
        -webkit-transform: translate(-3.6px, -3.6px);
        transform: translate(-3.6px, -3.6px);
    }
    5% {
        -webkit-transform: translate(0.95px, 0.95px);
        transform: translate(0.95px, 0.95px);
    }
    1% {
        opacity: 1;
    }
}
.popup.city-choice {
    background: #FFFFFF;
    box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    padding: 32px 44px;
    width: 410px;
    right: 22vw;
    top: 100px;
    height: 280px;
}
.popup.city-choice:before {
    display: none;
}
.popup.city-choice .title p {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;
    color: #000000;
}
.popup.city-choice ul li {
    float:left;
    width: 50%;
    text-align: left;
}
.popup.city-choice .close_order {
    top: 37px;
    right: 34px;
    background: none;
    opacity: 1;
}
.popup.city-choice .close_order:hover {
    opacity: 0.5;
}
.popup.city-choice ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: normal;

    color: #000000;
}
footer {
    background: #191A1B !important;
    padding: 72px 0 60px;
}
footer .contact-us {
    background: none;
    padding: 0;
}
footer .contact-us .title {
    font-size: 38px;
    line-height: normal;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 37px;
}
footer .contact-us .contact-info {}
footer .contact-us .office-phone {
    margin-bottom: 60px;
}
footer .contact-us .office-phone .item {
    font-size: 22px;
    line-height: 43px;
    font-weight: 500;
    color: #FFFFFF;
    /*margin-bottom: 15px;*/
}
footer .contact-us .office-phone .item a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #FFFFFF;
    margin-left: 15px;
}
footer .contact-us .office-phone .item a:hover {
    text-decoration: none;
}
footer .btn-orange {
    font-size: 18px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: transparent;
    border-radius: 0;
    color: #F3542F;
    padding: 16px 0;
    width: 320px;
    font-weight: 500;
    border: 2px solid #F3542F;
    transition: .3s;
}
footer .btn-orange:hover {
    background: #F3542F;
    color:#000000;
}
footer .contact-info {
    font-size: 22px;
    line-height: 37px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 47px;
}
footer .social {
    margin-bottom: 97px;
}
footer .social a {
    display: inline-block;
    margin-right: 18px;
    transition: .3s;
}
footer .social a:hover svg path {
    fill:#F3542F;
}
footer .bottom-menu {}
footer .bottom-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
footer .bottom-menu ul li {
    float: left;
    margin-right: 30px;
}
footer .bottom-menu ul li a:hover {
    text-decoration: none;
    color: #F3542F;
}
footer .bottom-menu ul li a {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF
}
footer .bottom-menu ul li:last-child {
    margin: 0;
}
footer .row:first-child {
    margin-bottom: 62px;
}
footer .copyright {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #FFFFFF;
}
footer .politics a {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #FFFFFF;
}
footer .politics a:hover {
    text-decoration: none;
    color: #F3542F;
}
.menu-info {
    display: none;
}
.owl-carousel .owl-nav .owl-prev {
    margin-right: 20px;
}
.mobile-close-btn {
    display: none;
}
@media (max-width: 1199px) {
    footer .bottom-menu ul li {
        margin-right: 5px;
    }
    .navbar-default .navbar-nav {
        padding: 0 0 0 40px;
    }
}
@media (max-width: 1055px) {
    .navbar-default .navbar-nav {
        padding: 0 0 0 20px;
    }
}
@media (max-width: 991px) {
    .mobile-menu {
        width: 261px;
    }
    .menu-info {
        display: block;
        padding: 0 20px;
        position: absolute;
        bottom: 30px;
    }
    .menu-info .city {
        font-size: 12px;
        line-height: normal;
        margin-bottom: 30px;
        color: #000000;
    }
    .menu-info .address {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 30px;
        color: #000000;
    }
    .mobile-social {
        position: relative;
        z-index: 99999;
    }
    .mobile-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 555555;
    }
    .menu-info .social {}
    .menu-info .social a {
        display: inline-block;
        margin-right: 10px;
    }
    .mobile-menu {
        background: #FFF;
        padding: 23px 20px;
        overflow: auto;
        overflow-y: hidden;
    }

    .navbar-default .navbar-nav>li>a {
        padding: 0;
        margin: 0;
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border: none;
        color: #000000;
    }
    .navbar-default .navbar-nav > li {
        height: auto;
        margin-bottom: 15px;
    }
    .navbar-default .navbar-nav > li.dropdown a {
        position: relative;
        display: inline-block;
    }
    .navbar-default .navbar-nav > li.dropdown > a:after {
        position: absolute;
        top: 3%;
        right: -23px;
        background: url("../img/mobile-arrow.svg") no-repeat;
        content: '';
        width: 10px;
        height: 10px
    }
    .navbar-nav .open .dropdown-menu {
        display: block;
        position: fixed;
        z-index: 555;
        top: 0;
        left: -247px;
        width: 247px;
        border-radius: 0;
        height: 100vh;
        padding: 0;
        margin: 0;
        background: #fff;

    }
    .navbar-nav .open .dropdown-menu>li>a:last-child {
        font-size: 14px !important;
        line-height: normal !important;
        color: #000000 !important;
        font-weight: 500 !important;
        padding: 0;
    }
    .navbar-nav>li>.dropdown-menu {
        display: block;
        position: fixed;
        z-index: 555;
        top: 0;
        left: -247px;
        width: 247px;
        border-radius: 0;
        height: 100vh;
        padding: 0;
    }
    .navbar-nav>li>.dropdown-menu a {
        font-size: 14px !important;
        line-height: normal !important;
        color: #000000 !important;
        font-weight: 500 !important;
    }
    .navbar-nav>li>.dropdown-menu li {
        margin-bottom: 15px;
        padding: 0 20px;
    }
    .back-link {
        position: relative;
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 20px 40px;
        color: #000000;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        margin-bottom: 20px;
    }
    .back-link:before {
        position: absolute;
        top: 21px;
        left: 22px;
        content: '';
        background: url('../img/back-link.svg') no-repeat;
        width: 10px;
        height: 10px;
    }
    .navbar-nav .open .dropdown-menu {
        /*display: none !important;*/
    }
    .navbar-default .navbar-nav > li > .with-icon {
        background: #000;
    }
    .navbar-default .navbar-nav .our-contacts p {
        color:#fff;
    }
    .navbar-default .navbar-nav .our-contacts p a {
        color:#fff;
    }
    .navbar-default .navbar-nav .our-contacts i {
        color:#fff;
    }
    section.new-main-screen {
        background: #422498;
    }
    section.service .row.space {
        margin-bottom: 0;
    }
    section.service .service-item {
        margin-bottom: 30px;
    }
    section.numerals .row > div {
        margin-bottom: 30px;
        text-align: center;
    }
    section.main-project .project-item {
        display: inline-block;
        width: 50%;
        margin-bottom: 30px;
    }
    section.main-project .project-item .wrap {

    }
    section.main-blog .blog-item  .wrap{
        width: 320px;
        margin: 0 auto 30px;
        transition: .3s;
    }

    section.cta {
        background: #EFEFEF;
    }
    footer .contact-us .title {
        margin-bottom: 15px;
    }
    footer .contact-us .office-phone {
        margin-bottom: 15px;
    }
    footer .contact-info {
        margin: 15px 0;
    }
    footer .social {
        margin-bottom: 15px;
    }
    footer .bottom-menu ul li {
        width: 100%;
        margin-bottom: 8px;
    }
    footer .copyright {
        text-align: left !important;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .requisites-wrap h3 {
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 24px;
    }
    .requisites-info {
        margin-bottom: 15px !important;
    }
    .requisites-info .body  {
        margin-bottom: 15px;
    }
    .content h3 {
        font-size: 24px;
    }
    .open-vacancy {
        padding: 0 0 30px;
    }
    section.lead {
        padding: 30px 15px;
    }
    section.main-project .row.space {
        margin-bottom: 0;
    }
    header .navbar-default {
        height: 60px;
    }
    .navbar>.container .navbar-brand {
        margin-top: 0;
    }
    .navbar-brand>img.mobile-logo {
        width: 170px;
    }
    .navbar > .container .navbar-brand {
        padding: 17px 50px 0 0px !important;
    }
    .navbar-default .navbar-toggle {
        margin-top: 13px;
    }
    section.new-main-screen .title {
        font-size: 26px;
        line-height: normal;
        text-align: center;
        font-weight: 500;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    section.new-main-screen .description {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 50px;
        color: #FFFFFF
    }
    section.new-main-screen .social  {
        text-align: center;
    }
    section.new-main-screen {
        padding: 76px 0 130px;
        background: url('../img/mobile_header_bg.svg') no-repeat, #422498;
    }
    section.new-main-screen .description br {
        display: none;
    }
    .section-title {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        color: #000000;
        margin-bottom: 40px;
    }
    section.service {
        padding: 50px 0 50px;
    }
    section.service .service-item:nth-child(5) {
        display: none;
    }
    section.service .service-item:nth-child(6) {
        display: none;
    }
    section.service .service-more {
        font-size: 16px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 14px 0;
        color: #F3542F;
        border: 2px solid #F3542F;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        font-weight: 500;
    }
    section.numerals .number-name {

    }
    section.numerals .number-name:last-child {
        margin-bottom: 0;
    }
    section.numerals {
        padding: 50px 0 50px;
    }
    section.numerals .row > div {
        margin-bottom: 40px;
    }
    section.numerals .row > div:last-child {
        margin-bottom: 0;
    }
    section.main-project {
        padding: 50px 0 50px;
    }
    section.main-project .project-item {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    section.main-project .service-more {
        font-size: 16px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 14px 0;
        color: #F3542F;
        border: 2px solid #F3542F;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        font-weight: 500;
        margin-top: 10px;
    }
    section.review-slider {
        padding: 55px 0 50px;
    }
    .more-btn {
        display: none;
    }
    section.review-slider .section-title {
        text-align: center;
        width: 100%;
    }
    section.review-slider .item .wrap {
        padding: 75px 25px 45px;
    }
    section.review-slider .item .wrap .img-wrap {
        display: none;
    }
    section.review-slider .item .wrap .review-text p {
        font-size: 12px;
        line-height: 20px;

        color: #000000;
    }
    .owl-theme .owl-nav [class*=owl-] {
        display: block !important;
        position: absolute !important;
        top: 0;
    }
    section.review-slider .owl-theme .owl-nav {
        text-align: right;
        width: 100%;
        position: absolute;
        bottom: unset;
        right: 25px;
        top: 51px;
    }
    .owl-carousel .owl-nav .owl-prev {
        left: unset;
        right: 55px;
    }
    section.review-slider .service-more {
        font-size: 16px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 14px 0;
        color: #F3542F;
        border: 2px solid #F3542F;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        font-weight: 500;
        margin-top: 30px;
    }
    section.main-blog .blog-item .wrap {
        width: 100%;
    }
    section.main-blog {
        padding: 55px 0 50px;
    }
    section.main-blog .service-more {
        font-size: 16px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 14px 0;
        color: #FFF;
        border: 2px solid #FFF;
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
        font-weight: 500;
    }
    section.main-blog .blog-item .bottom .title {
        margin-bottom: 27px;
    }
    section.main-blog .blog-item .bottom {
        padding: 12px 22px 12px;
    }
    section.main-blog .blog-item .img-wrap {
        background-size: cover !important;
        height: 208px;
    }
    section.cta .cta-title {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 17px;
        color: #000000;
    }
    section.cta {
        padding: 88px 0 52px;
    }
    section.cta .btn-orange {
        width: 280px;
    }
    section.cta .cta-description {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 35px;
        color: #000000;
    }
    section.certificate {
        padding: 70px 0;
    }
    .row-certificate {
        text-align: center;
    }
    section.certificate .text {
        margin-top: 10px;
        margin-bottom: 40px;
    }
    footer {
        padding: 55px 0 28px;
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    footer .col-xs-12 {
        float: none;
    }
    footer .contact-us .office-phone {
        display: none;
    }
    footer .bottom-menu {
        display: none;
    }
    footer .contact-us .title {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 40px;
        color: #FFFFFF;
        order: 1;
    }
    footer .contact-info {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        order:2;
        color: #FFFFFF;
    }
    footer .btn-orange {
        width: 280px;
        margin-bottom: 50px;
        order:3;
    }
    footer .social {
        order:4;
    }
    .prbel-mobile {
        order: 5;
    }
    footer .politics {
        order: 5;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    footer .politics a {
        font-size: 14px;
        line-height: 24px;
        text-align: center;

        color: #FFFFFF;
    }
    footer .politics a span {
        display: block;
    }
    footer .copyright {
        text-align: center !important;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 50px;
    }
    footer .copyright span {
        display: block;
    }
    footer .row:first-child {
        display: none;
    }
}
section.new-main-screen.inner-screen {
    padding: 95px 0 66px;
}
section.review-slider.inner-review {
    background: #fff;
}
.content h3 {
    font-size: 28px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
    margin-bottom: 80px;
    padding: 0;
}
.content {
    margin-bottom: 80px;
    margin-top: 80px;
}
.content p {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #000000;
}
.content .row.space {
    margin-top: 70px;
}
section.inner-certificate {
    padding: 0 0 112px;
}
.requisites-wrap h3 {
    margin-bottom: 80px;
}
.requisites-info {
    /*margin-top: 60px;*/
    margin-bottom: 90px;
}
.requisites-info .title {
    font-size: 28px;
    line-height: normal;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000000;
}
.requisites-info .title .body{}
.requisites-info .body a{
    display: block;
    font-size: 17x;
    line-height: 28px;
    font-weight: 300;
    color: #000000;
}
.requisites {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 70px;
}
.mirror {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #000000
}
.lead {
    padding: 92px 92px;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    font-weight: 300;
    color: #FFFFFF;
    background: #422498;
    margin: 0;
}
.content-text {
    /*margin-top: 75px;*/
}
.gallery {
    margin-bottom: 75px;
}
.content-text h3 {
    margin-bottom: 30px;
}
.why-choose-us {
    padding: 90px 0 120px;
}
.why-choose-us h2 {
    font-size: 42px;
    line-height: normal;
    margin-bottom: 80px;
    color: #000000;
    font-weight: 500;
}
.why-choose-us .item {
    margin-bottom: 60px;
}
.why-choose-us .item:last-child {
    margin-bottom: 0;
}
.why-choose-us .item .title {
    font-size: 28px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
    margin-bottom: 20px;
}
.why-choose-us .item  .desc {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #000000;
}
.achievement {
    padding: 110px 0 80px;
}
.achievement h2 {
    font-size: 42px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
    margin-bottom: 30px;
}
.achievement h3 {
    font-size: 28px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
    margin-bottom: 50px;
    padding: 0;
    margin-top: 50px;
}
.achievement .item {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 35px;
}
.achievement .item:last-child {
    margin-bottom: 0;
}
.agency-certificate {
    padding: 68px 0 53px;
    background: #422498;
}
.agency-certificate .title {
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 20px;

}
.agency-certificate .img-wrap {}

.content.partners h3 {
    margin-bottom: 30px;
}
.content.partners .text-block {
    /*margin-top: 65px;*/
}
.content.partners ul li {
    font-size: 18px;
    line-height: 41px;
    font-weight: 300;
}
.content.partners a {
    color: #F3542F;
}
.jobs-list {
    margin-top: 55px;
}
.jobs-list h2 {
    margin-bottom: 70px;
}
.jobs-list  ul {
    padding: 0;
    margin: 0;
}
.jobs-list .accordion .title-accordion {
    font-size: 28px;
    line-height: normal;
    font-weight: 500;
    padding: 26px 0 26px;
    color: #000000;
}
.jobs-list .btn-accordion {
    padding: 0;
    width: 37px;
    height: 37px;
}
.jobs-list .accordion li {
    border-top:1px solid rgba(0,0,0,0.2);
}
.jobs-list .accordion li:last-child {
    border-bottom:1px solid rgba(0,0,0,0.2);
}
.jobs-list .accordion .accordion-body p {
    font-size: 18px;
    line-height: 28px;

    color: #000000;
}
.jobs-list .accordion .accordion-body  li {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    color: #000000;
    border:none;
    padding-left: 32px;
}
.jobs-list .accordion .accordion-body  li:before {
    position: absolute;
    top:7px;
    left: 0;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #000;
}
.jobs-list .accordion .accordion-body ul {
    margin-bottom: 30px;
}
.lead-work {
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF;
    word-wrap: break-word;
    padding: 92px 0 92px;
    background: #422498;
}
section.advantage {
    padding: 106px 0 64px;
}
section.advantage .wrap:after {
    content: '';
    display: table;
    clear: both;
}
section.advantage h2 {
    margin-bottom: 90px;
}
section.advantage .title {
    font-size: 28px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
    margin-bottom: 20px;
}
section.advantage .desc {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #000000;
}
section.advantage .desc a {
    color: #F3542F;
}
section.advantage  .advantage-item {
    margin-bottom: 64px;
}
.owl-stage-outer {
    overflow: visible !important;
}

.owl-item {
    opacity: 0;
}
.owl-item.active {
    opacity: 1;
}
.question-popup {
    background: #FFFFFF;
    width: 1430px;
    padding: 72px 130px;
    margin: 0 auto;
}
.question-popup .bottom {}
.question-popup .bottom .politics {
    font-size: 14px;
    line-height: 22px;

    color: #000000;
    font-weight: 300;
    opacity: 0.5;
}
.question-popup input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    padding: 9px 0;
    color: #000000;

    opacity: 0.5;
}
.question-popup label {
    width: 100%;
}
.question-popup .title-form {
    font-size: 58px;
    line-height: 74px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 70px;
}
.question-popup .desc {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
.question-popup .form-set {
    margin-bottom: 60px;
}
.question-popup .form-set .title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #000000;
    font-weight: 500;
}
.question-popup .form-set .fake-radio-wrap {}
.question-popup .form-set  input[type="radio"] {
    display: none;
}
.question-popup .form-set .fake-radio.active {
    background: #422498;
    color:#fff;
    opacity: 1;
}
.question-popup .form-set .fake-radio.active svg path {
    fill:#422498;
}
.question-popup .form-set .fake-radio.active svg circle {
    fill:#fff;
}
.mfp-close-btn-in .mfp-close {
    opacity: 1;
}
.question-popup .row {
    position: relative;
}
.question-popup .form-set  .fake-radio {
    display: flex;
    justify-content: space-between;
    background: #EFEFEF;
    padding: 13px 25px;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.3;
    transition: .3s;
}
.question-popup .form-set.hidden-set {
    display: none;
    margin-bottom: 30px;
}
.question-popup .form-set.hidden-set .fake-radio {
    margin-bottom: 30px;
}
.cta-banner {
    padding: 68px 0 53px;
    background: #422498;
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF;
}
/* NEW SERVICE_PAGE */
section.new-main-screen.inner-screen.service-screen {
    padding: 20px 0 56px;
}
section.new-main-screen.inner-screen.service-screen .title {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 75px;
}
section.new-main-screen.inner-screen.service-screen .description {
    font-size: 28px;
    line-height: 150%;
}
.breadcrumbs-wrap {
    margin-bottom: 23px;
}
.breadcrumbs-wrap ol {
    padding: 0;
    margin: 0;
}
.breadcrumbs-wrap ol li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;

}
.breadcrumbs-wrap ol li span {
    color: #FFFFFF;

    opacity: 0.3;
}
.breadcrumbs-wrap ol li a {
    opacity: 1;
    display: block;
    color: #FFFFFF;
    margin-right: 22px;
}
.breadcrumbs-wrap ol li a:after {
    position: absolute;
    top:0;
    right: 0px;
    font-size: 14px;
    color:#fff;
    content: '/';
    display: block;
    width: 11px;
    height: 100%;
}
.content.service-content {

}
.content.service-content .inner-content {
    margin-top: 75px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}
.content.service-content .inner-content h2 {
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
}
.quote {
    background: #F3542F;
    padding: 73px 0;
}
.quote .wrap {
    display: flex;
    justify-content: center;
}
.quote .icon {
    display: inline-block;
    margin-right: 65px;
}
.quote .text {
    display: inline-block;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0;
    font-weight: 300;
}
.advantage-service {
    background: #422498;
    padding: 87px 0 90px;

}
.advantage-service h2 {
    font-size: 42px;
    line-height: 120%;
    color:#fff;
    font-weight: 500;
    margin-bottom: 88px;
}
.advantage-service .title {
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-weight: 700;
}
.advantage-service  .description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #FFFFFF;
}
.what-is {
    padding: 87px 0 30px;
}
.what-is h2 {
    font-size: 42px;
    line-height: 120%;
    font-weight: 500;
    margin-bottom: 88px;
}
.what-is .what-item {
    margin-bottom: 60px;
}
.what-is .title {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;
    font-weight: 700;
}
.what-is  .description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}
.our-achievement {
    padding: 120px 0 146px;
}
.our-achievement h2 {
    font-size: 42px;
    margin-bottom: 60px;
}
.our-achievement .achievement-item {
    display: flex;
    justify-content: center;
}
.our-achievement .achievement-item .img-wrap {
    margin-right: 20px;
}
.our-achievement .achievement-item .title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;

    opacity: 0.5;
}
.design-tabs {
    padding: 132px 0 40px;
}
.design-tabs h2 {
    margin-bottom: 80px;
}
.design-tabs .nav-tabs>li {
    width: 25%;
}
.design-tabs .number-tab {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 6px;
    color: #F75831;
}
.design-tabs .title-tab {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;
    color: #000000;
    font-weight: 700;
}
.design-tabs .description-tab {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 30px;
}
.design-tabs .nav-tabs>li.active>a, .design-tabs .nav-tabs>li.active>a:hover, .design-tabs .nav-tabs>li.active>a:focus {
    border: none;
    border-bottom: 5px solid #F75831;
}
.design-tabs .nav-tabs>li>a {
    border-radius: 0;
    border-bottom: none;
}
.design-tabs .nav-tabs>li {
    margin-bottom: -7px;
    border-bottom: 5px solid transparent;
}
.design-tabs .nav-tabs {
    margin-bottom: 108px;
}
.design-tabs .tab-content {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #000000;
}
.design-tabs .tab-content p {
    margin-bottom: 20px;
}
.design-tabs .tab-content p:last-child {
    margin-bottom: 0;
}
.out-team {
    padding: 0px 0 150px;
}
.out-team h2 {
    margin-bottom: 60px;
}
.out-team .name {
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    color: #000000;
    font-weight: 700;
}
.out-team .status {
    font-size: 14px;
    line-height: 150%;
    font-weight: 300;
    color: #000000;
    opacity: 0.5;
}
.strategy {
    padding: 130px 0 160px;
}
.strategy h2 {
    margin-bottom: 120px;
}
.strategy .card-strategy {
    margin-bottom: 30px;
}
.strategy .card-strategy:last-child {
    margin-bottom: 0;
}
.strategy .left-block {}
.strategy .left-block .wrap {
    position: relative;
    background: url('../img/st-block.png') no-repeat right bottom,#422498;
    height: 340px;
    padding: 40px 40px 60px;
}
.strategy .right-block {
    height: 340px;
    padding: 35px 70px;
}
.strategy .card-wrap {
    background: #FFFFFF;
    border: 1px solid #D3D3D3;

}
.strategy .card-wrap:hover {
    box-shadow: 0px 5px 70px rgba(0, 0, 0, 0.2);
}
.strategy .name {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;
    font-weight: 700;
    color: #FFFFFF
}
.strategy .btn-action {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #F3542F;
}
.strategy .price {
    font-size: 28px;
    line-height: 120%;
    position: absolute;
    bottom: 60px;
    color: #FFFFFF;
    font-weight: 300;
}
.strategy .title-list {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 40px;
    font-weight: 700;
    color: #000000;
}
.strategy ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.strategy ul li {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding-left: 40px;
}

.strategy ul li:before {
    position: absolute;
    display: block;
    content: '';
    top: 7px;
    left: 0;
    width: 8px;
    height: 8px;
    border:1px solid #000;
    border-radius: 50%;
}
.strategy ul li:first-child {
    color: #F3542F;
}
.strategy ul li:first-child:before  {
    border-color: #F3542F;
    background: #F3542F;
}
.strategy ol li {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #F3542F;
}
.strategy ol li span {
    padding-left: 40px;
}
.strategy ol {
    padding: 0;
    margin: 0;
    text-align: left;
    list-style-position: inside;
}
.out-principles {}
.out-principles .title {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 50px;
    font-weight: 700;
    color: #FFFFFF;
}
.out-principles .text {
    font-size: 28px;
    line-height: 150%;
    font-weight: 300;
    color: #FFFFFF;
    margin: 0;
}
.out-principles h2 {
    margin-bottom: 110px;
}
.out-principles .number-step {
    font-size: 200px;
    line-height: 283px;
    font-weight: 300;
    color: #000000;
}
.out-principles .wrap {
    background: #F3542F;
    padding: 60px 80px;
}