/* Small devices (phones, 320px and up) */
@media (min-width: 320px) {
    h2 {
        font-size: 28px;
    }
    p {
        font-size: 18px;
    }
    .logo {
        margin: 30px 0 ;
    }
    .imac {
        margin-bottom: -70px;
    }
    .clean {
        height: 100px;
    }
    .structure_img {
        margin-top: 30px;
    }
    .coffee {
        max-width: 170px;
    }
    #prototyping {
        padding: 100px 0 30px 0;
    }
    .prototyping_grid {
        grid-template-columns: auto auto auto auto;
    }
    .cardProduct {
        text-align: center;
    }
    .controlNumber {
        float: none;
    }
    .price {
        float: none;
        margin-left: auto;
    }
    #layout img {
        margin: 79px 0 -90px 0;
    }
    #release a {
        width: 100%;
    }
}
/* Small devices (phones, 375px and up) */
@media (min-width: 375px) {
    h2 {
        font-size: 34px;
    }
    .imac {
        margin-bottom: -83px;
    }
    .coffee {
        max-width: 215px;
    }
}
/* Small devices (phones, 425px and up) */
@media (min-width: 425px) {
    h2 {
        font-size: 38px;
    }
    .imac {
        margin-bottom: -96px;
    }
    .coffee {
        max-width: 170px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h2 {
        font-size: 60px;
    }
    p {
        font-size: 20px;
        line-height: 1.4;
    }
    .logo {
        margin: 61px 0 100px 0;
    }
    .imac {
        margin-bottom: -95px;
    }
    .clean {
        height: 150px;
    }
    .structure_img {
        margin-top: 87px;
    }
    .coffee {
        max-width: 350px;
    }
    #prototyping {
        padding: 142px 0 87px 0;
    }
    .design_img img {
        margin-top: 0;
    }
    .cardProduct {
        text-align: left;
    }
    .controlNumber {
        float: left;
    }
    .price {
        float: left;
        margin-left: 20px;
    }
    #layout img {
        margin: 79px 0 -130px 0;
    }
    #release a {
        width: auto;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .imac {
        margin-bottom: -129px;
    }
    .coffee {
        max-width: 455px;
    }
    .prototyping_grid {
        grid-template-columns: auto 388px 388px 388px;
    }
    .design_img img {
        margin-top: 87px;
    }
    #layout img {
        margin: 79px 0 -150px 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .imac {
        margin-bottom: -200px;
    }
    .clean {
        height: 230px;
    }
    .prototyping_grid {
        grid-template-columns: auto 460px 460px 460px;
    }
}