@import url('https://fonts.googleapis.com/css?family=Roboto');
.cardCatalog {
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #eceae9;
    padding: 52px 0 35px 0;
    margin-bottom: 15px;
}
.cardCatalog:hover,
.controlNumber:hover {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
}
.cardCatalog img:hover,
.cardProduct img:hover{
    opacity: 0.5;
}
.cardProduct button img:hover{
    opacity: 1;
}
.transition {
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}
.cardCatalog a,
.cardProduct a{
    text-decoration: none;
}
.cardCatalog a:hover h4,
.cardProduct a:hover h4{
    color: #fc643b;
}
.cardCatalog img {
    max-height: 220px;
    margin-bottom: 19px;
}
.cardCatalog h4 {
    font-size: 22px;
    padding: 0 35px;
    font-weight: 600;
    color: #000;
    height: 30px;
    margin-bottom: 70px;
}
.defaultbutton {
    background-image: linear-gradient(to bottom, #4ed266, #2f8740);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    padding: 8px 30px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
.defaultbutton:hover {
    background-image: linear-gradient(to bottom, #51db6b, #3f9850);
    color: #fff;
}
.defaultbutton:active {
    background-image: linear-gradient(to bottom, #329045, #49aa5b);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.4);
    outline: none;
}

.cardProduct {
    font-family: 'Roboto', sans-serif;
    padding: 32px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #eceae9;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.cardProduct:hover {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
}
.articule p, .articule a, .price {
    color: #212529 !important;
}
.articule p {
    font-size: 14px !important;
    line-height: 1.86 !important;
    margin: 0 !important;
}
.price {
    font-weight: bold;
    float: left;
    margin-top: 25px !important;
}
.cardProduct h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
}
.custom-select {
    border-radius: 5px;
    border: solid 1px #53bf67;
    background-image: url('../../../img/selectnormal.svg');
    background-size: 13px;
    color: #000;
    font-size: 18px;
    height: 40px;
    padding: 0 25px;
}
.custom-select:hover {
    background-image: url('../../../img/selecthover.svg');
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
}
.number input {
    border-radius: 5px 0 0 5px;
    border: solid 1px #53bf67;
    border-right: none;
    color: #000;
    font-size: 18px;
    height: 40px;
    padding: 0 0 0 25px;
    float: left;
}
.controlNumber span {
    float: left;
    width: 25px;
    height: 20px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 5px;
    cursor: pointer;
}
.controlNumber .plus {
    background-image: url('../../../img/selectup.svg');
    border: solid 1px #53bf67;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 5px;
}
.controlNumber .plus:hover {
    background-image: url('../../../img/selectuphover.svg');
}
.controlNumber .minus {
    background-image: url('../../../img/selectnormal.svg');
    border: solid 1px #53bf67;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 5px;
    margin-top: -4px;
}
.controlNumber .minus:hover {
    background-image: url('../../../img/selecthover.svg');
}
.available {
    color: #53bf67;
    font-size: 16px;
    margin-top: 13px;
    text-align: center !important;
    padding-right: 0;
}
.addCart {
    padding: 17px 35px;
    margin: auto;
    display: block;
}
.controlNumber {
    float: left;
    margin-top: 23px;
    display: inline-block;
}