div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

@media (max-width: 500px) {
#count6
{
display: none;
}

#count7
{
display: none;
}

#count8
{
display: none;
}
}