.bg-item {
	width: 100%;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
}

.result-slider .h4 {
text-align: left !important;
margin: 0px 0 50px !important;
}

.result-slider p {
text-align: left !important;
}

.col-text {
    padding: 26px 0 0 20px !important;
}

.nav>li>a {
padding: 11px 13px !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
color: #F34026 !important;
background-color: white !important;
background-image: none !important;
}

.navbar-default .navbar-nav>li>a.location {
padding: 11px 0px 1px 0px !important;
}

.navbar-default .navbar-nav li a.head-phone {
    font-size: 24px !important;
    padding-bottom: 3px !important;
    padding-right: 0 !important;
    padding-left: 26px !important;
    margin-right: -18px !important;
}

.banner_seo_txt {
    text-align: left;
    font-size: 26px;
}

.name_seo {
	color: white;
    margin: 30px 0 15px;
    font-size: 20px;
    font-style: italic;
}

.name_job {
	color: white;
    margin: 0px 0 40px;
    font-size: 17px;
}

.block_photo {
margin-bottom: -8px;
}

.seo_photo {
	margin-top: -40px;
    width: 900px;
	display: none;
}

.adv_photo {
	margin-top: -130px;
    width: 350px;
	display: none;
}

.podderzhka_photo {
	margin-top: -160px;
    width: 320px;
}

.button_align {
margin-bottom: 50px;
margin-left: 103px;
}


@media only screen and (max-width: 768px) {
.block_photo {
margin-bottom: -5px !important;
}

.seo_photo {
	margin-top: 20px !important;
	width: 400px !important;
}

.adv_photo {
	margin-top: 20px !important;
    width: 250px !important;
	display: none;
}

.podderzhka_photo {
	margin-top: -40px !important;
    width: 250px !important;
}

.button_align {
text-align:center !important;
margin-left: 0px !important;
}
}


@media only screen and (width: 1024px) {
.block_photo {
	margin-top: 50px;
}

.seo_photo {
	margin-top: 0px;
	width: 400px;
}
.button_align {
text-align:center !important;
}


}


.portfolio-image-block {
    background: rgb(0 0 0 / 37%) !important;
}

.feedback-slider p {
margin-bottom: 20px !important;
}



@media screen and (max-width: 1192px) and (min-width: 992px){
	.mobile-menu .nav.navbar-nav{
		float: none;
		display: flex;
		justify-content: flex-end;
	}
}

@media screen and (max-width: 450px){
	.blog-main .my-btn-3,
	.portfolio .my-btn-3{
		padding: 15px 30px !important;
	}
}

@media screen and (max-width: 374px){
	.services .info-block.alt{
		font-size: 14px !important;
		padding: 18px 18px !important;
		min	-height: 280px !important;
	}
}
@media screen and (max-width: 1199px){
	.row-certificate > div .img-wrap {
		min-height: 125px;
	}
}
@media screen and (max-width: 767px){
	.trust .col-lg-2.col-md-2.col-sm-3.col-xs-6.text-center.col-space.wow.zoomIn{
		height: 100px !important;
	}
	.row-certificate > div {
		min-height: 200px;
	}
	.mobile-hidden{
		display: none;
	}
	.certificate{
		margin-bottom: 0px !important;
		padding-bottom: 20px !important;
	}
	.wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}
}

.why-wrap .why-title h3 {
	padding-bottom: 15px;
    font-size: 28px;
    font-family: 'Navigo',sans-serif;
    font-weight: 600;
	padding-left: 0px !important;
	margin-bottom: 0px !important;
}

.step-to-step .step-title h3 {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 13px;
    font-weight: 600;
    color: #000;
    padding-left: 5px;
	padding-left: 0px !important;
	margin-bottom: 0px !important;
}

.orange-title h2 {
color: #1a242d !important;
}

.orange-title {
background-color: #fff !important;
}

.navbar.navbar-default ul.dropdown-menu{
	border: none !important;
	border-radius: 0 !important;
}
@media screen and (max-width: 992px){
	.navbar-nav .open .dropdown-menu>li>a:last-child{
		padding-bottom: 13px !important;
	}
}

@media screen and (min-width: 992px){
li.dropdown li a{
	padding: 8px 20px !important;
	min-width: 100px;
}
.navbar.navbar-default ul.dropdown-menu{
	box-shadow: 0 2px 6px rgb(40 36 35 / 10%) !important;
}
	li.dropdown li{
		border: 2px solid rgb(255,255,255) !important;
	}
	li.dropdown li a{
		opacity: 0;
	}
	li.dropdown:hover li a{
		animation: go 0.1s ease-in forwards 0s;
	}
}
@keyframes go{
  0% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}
a.dropdown-toggle{
     transition: all 0.1s;
}

@media only screen and (max-width: 991px) and (min-width: 768px){
	footer .copy p{
		margin-top: 30px;
	}
}

.fa.mobile-location-arrow{
	display: none !important;
}

/* style for mobile menu */
@media only screen and (max-width: 991px){
	.navbar-default .navbar-nav{
		margin-top: 20px !important;
	}
	.navbar-default .navbar-nav li a.head-phone{
		font-size: 18px !important;
	}
	.navbar-default .navbar-nav > li > .with-icon{
		height: 80px !important;
		line-height: 80px !important;
	}
	.navbar-default .navbar-nav > li > .with-icon,
	.navbar-default .navbar-nav .our-contacts{
		padding-left: 0px !important;
	}
	.navbar-default .navbar-nav li a.head-phone{
		margin-left: 10px !important;
	}
	.navbar-default .navbar-nav .our-contacts i{
		text-align: center;
		margin-right: 10px !important;
	}
	.navbar-default .navbar-nav .our-contacts i{
		vertical-align: top;
	}
	.navbar-default .navbar-nav .our-contacts p span{
		margin-left: 0px !important;
		width: 80%;
	}
	.navbar-default .navbar-nav i.fa.fa-phone.fa-2x{
		padding-left: 4px !important;
	}
	li.hidden-md.hidden-lg{
		margin-bottom: 11px;
	}
	.nav.navbar-nav.navbar-right .head-phone{
		display: none !important;
	}
	.nav.navbar-nav.navbar-right .location.pop-up{
		margin-left: 6px !important;
	}
	.fa.mobile-location-arrow{
		display: inline-block !important;
		font-size: 14px !important;
		width: 20px;
		text-align: center;
	}
	.popup.city-choice{
		left: 50% !important;;
   		transform: translateX(-50%) !important;;
		width: 300px !important;
	}
	.popup.city-choice:before{
		display: none  !important;
	}
	.nav.navbar-nav.navbar-right{
		max-width: 300px;
	}
}
/* end style for mobile menu */

@media screen and (max-width: 767px){
	.why-we-the-one{
		text-align: center !important;
	}
}

@media screen and (min-width: 320px){
	.direction h2{
		padding-right: 15px !important;
	}
	.direction ul{
		padding-right: 15px !important;
	}
}
@media screen and (max-width: 991px) and (min-width: 320px){
	footer .icon{
		margin: 0 auto !important;
		width: 100% !important;
		justify-content: center !important;
	}
}
@media screen and (max-width: 374px){
	.col-md-6.col-sm-6.col-space.text-center.row-space{
		padding: 0px !important;
	}
}
.services .b24-web-form-popup-btn-15 .description{
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.b24-web-form-popup-btn-15 h2{
	padding-left: 15px !important;
	padding-right: 15px !important;
}
@media screen and (max-width: 768px){
	.step-to-step .step-text{
		text-align: left !important;
	}
}
@media screen and (max-width: 360px){
	.direction h2{
		font-size: 26px !important;
	}
}
@media screen and (max-width: 1199px) {
	.dev-item{
		min-height: 230px !important;
		margin-bottom: 30px;
		}
	.why-dev .dev-title{
		margin-bottom: 10px !important;
	}
	.why-dev .dev-icon{
		margin-bottom: 20px !important;
	}
}


.navbar-default .navbar-nav li a.head-phone{
	font-size: 20px !important;
}
.nav.navbar-nav.navbar-right,
.navbar-default .navbar-nav li a.head-phone{
	margin-right: 0px !important;
}
.navbar-default .navbar-nav{
	padding-left: 20px !important;
}
@media screen and (max-width: 1192px) and (min-width: 992px){
	.nav>li>a[href="/contacts/"]{
		padding-right: 0px !important;
	}
}

#filter label:hover, #filter label.active{
	border-color: #f85832 !important;
    color: #f85832 !important;
}


@media only screen and (max-width: 768px){
	#slider-charts.owl-theme .owl-nav [class*=owl-]{
		display: block !important;
	}
}

.portfolio-page #filter label{
	border: none;
}
.portfolio-page #filter label{
	padding: 20px 25px;
	border: 0.5px transparent solid !important;
}

.portfolio-page #filter label:hover,
.portfolio-page #filter label.active{
	background-color: #F4F6F8; 
	border: 0.5px rgba(196, 196, 196, 0.44) solid !important;
	border-radius: 57px;
}