
<title>Hello, world!</title>
<style>
            ::-webkit-scrollbar {
                display: none;
            }
        </style> <!-- Required meta tags --> <!-- Bootstrap CSS --> <!-- Header -->
<div>
</div>
 <!-- / Header --> <!-- Main --> <main> <section id="home">
<div class="container">
	
	<div class="row">
		<div class="col-sm-9">
 <img src="img/logo.png" class="img-fluid logo" alt="">
		</div>
		<div class="col-12 col-sm-3">
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-5 col-xl-3">
			<p class="mt-0">
				 Проектирование<br>
				 и разработка<br>
				 интернет-магазина
			</p>
		</div>
		<div class="col-12 col-sm-7 col-xl-9">
			<div class="imac">
 <img src="img/imac.png" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</div>
 </section>
<div class="clean">
</div>
 <section id="structure">
<div class="position-relative">
 <img src="img/structure_img.png" class="img-fluid coffee" alt="">
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<h2>
			UX-cтруктура сайта </h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p class="mb-0">
				 Перед тем как проектировать сайт была разработана подробная UX-структура сайта, описаны возможные механизмы взаимодействия пользователя с сайтом.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
 <img src="img/structure.png" class="img-fluid structure_img" alt="">
		</div>
	</div>
</div>
 </section> <section id="prototyping" class="overflow-hidden">
<div class="container">
	<div class="row">
		<div class="col">
			<h2>
			Прототипирование </h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p class="mb-5">
				 Для каждой страницы были разработаны прототипы, в которых обозначены основные блоки сайта, разделы и важные элементы.
			</p>
		</div>
	</div>
	<div class="prototyping_grid_15px">
		<div class="prototyping_grid">
			<div class="grid_col">
			</div>
			<div class="grid_col">
 <img src="img/prototyping_0.png" class="img-fluid float-left" alt="">
			</div>
			<div class="grid_col">
 <img src="img/prototyping_1.png" class="img-fluid float-left" alt=""> <img src="img/prototyping_2.png" class="img-fluid float-left" alt="">
			</div>
			<div class="grid_col">
 <img src="img/prototyping_3.png" class="img-fluid float-left" alt=""> <img src="img/prototyping_4.png" class="img-fluid float-left" alt="">
			</div>
		</div>
	</div>
</div>
 </section> <section id="design">
<div class="container">
	<div class="row">
		<div class="col">
			<h2>
			Дизайн сайта </h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
				 После согласования прототипов был отрисован дизайн страниц для всех основных устройств: десктоп, планшет, мобайл.
			</p>
		</div>
	</div>
</div>
<div class="design_img">
 <img src="img/design.png" class="img-fluid" alt="">
</div>
 </section> <section id="grid_and_elements">
<div class="container">
	<div class="row">
		<div class="col">
			<h2>
			Сетка и элементы </h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-flex">
			<div class="cardCatalog transition text-center w-100">
 <a href="http://goodcup.ru/catalog/kryshki_razmeshivateli_sakhar_perenoski/" target="_blank" class="productImageLink transition"> <img src="img/grid_and_elements_0.png" class="img-fluid transition" alt=""> </a> <a href="http://goodcup.ru/catalog/kryshki_razmeshivateli_sakhar_perenoski/" target="_blank">
				<h4 class="transition">Крышки, размешиватели, сахар, переноски</h4>
 </a> <a href="http://goodcup.ru/catalog/kryshki_razmeshivateli_sakhar_perenoski/" target="_blank" class="callback defaultbutton colorFFF">
				Подробнее </a>
			</div>
		</div>
		<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-flex">
			<div class="cardCatalog transition text-center w-100">
 <a href="http://goodcup.ru/catalog/stakany_dlya_kofe/" target="_blank" class="productImageLink transition"> <img src="img/grid_and_elements_1.png" class="img-fluid transition" alt=""> </a> <a href="http://goodcup.ru/catalog/stakany_dlya_kofe/" target="_blank">
				<h4 class="transition">Стаканы для кофе</h4>
 </a> <a href="http://goodcup.ru/catalog/stakany_dlya_kofe/" target="_blank" class="callback defaultbutton colorFFF">
				Подробнее </a>
			</div>
		</div>
		<div class="col-sm-4">
			<p>
				 В разработке интерфейса сайта использовалась функциональная сетка на 12 колонок.
			</p>
			<p>
				 Карточная система позволяет корректно отображать сайт на всех устройствах.
			</p>
		</div>
		<div class="col-12">
			<div class="cardProduct transition">
				<div class="container">
					<div class="row">
						<div class="322test col-12 col-sm-2">
 <a href="http://goodcup.ru/catalog/stakany_dlya_kofe/bumazhnyy_stakan_kraft_110_ml/" title="Бумажный стакан «Зерна» 110 мл" class="productImageLink transition" target="_blank"> <img src="img/cofee.png" class="img-fluid transition" alt=""> </a>
						</div>
						<div class="col-sm-10 col-lg-4">
							<div class="articule">
 <a href="http://goodcup.ru/catalog/stakany_dlya_kofe/bumazhnyy_stakan_kraft_110_ml/" title="Бумажный стакан «Зерна» 110 мл" target="_blank">
								<h4 class="w-100 transition">Бумажный стакан «Зерна» 110 мл</h4>
 </a>
								<p class="w-100">
									 Артикул: СТММ110
								</p>
								<p class="w-100">
									 Размер: (макс. 130 мл)
								</p>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
 <label for="test" class="d-none"></label>
							<select id="test" class="custom-select select-offers transition w-100">
								<option value="18">
								Коробка 1000 шт </option>
							</select>
							<div class="number controlNumber transition">
 <label for="card21" class="d-none"></label> <input id="card21" type="text" value="21" size="5" data-productid="18" min="21"> <span class="plus transition"></span><br>
 <span class="minus transition"></span>
							</div>
							<p class="price">
								 900 ₽
							</p>
						</div>
						<div class="col-sm-6 col-lg-3">
 <button type="button" class="defaultbutton colorFFF addCart" id="bx_3966226736_21_d0fb066f64e2309c4b241a491f76c62e_buy_link" data-productid="18" data-productqnt="1"> <img alt="Cart" src="img/cartWhite.svg"> В корзину </button>
							<div class="available text-center w-100">
								 Есть в наличии
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
 </section> <section id="cart">
<div class="container">
	<div class="row">
		<div class="col">
			<h2>
			Простая и удобная корзина </h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
				 Для удобства использования сайта была спроектирована корзина в один клика. Всю основную информацию пользователь заполняет на одном экране и следующим шагом переходит к оплате товара.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-10">
 <img src="img/cart_macbook.png" class="img-fluid" alt="">
		</div>
	</div>
</div>
 </section>
<div class="clean">
</div>
 <section id="layout">
<div class="container">
	<div class="row">
		<div class="col">
			<h2>Адаптивная верстка</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
				 Сайт построен на сетке и карточках, благодаря этому верстка страниц была адаптирована под все типы устройств.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6 col-lg-4">
 <img src="img/iphone.png" class="img-fluid" alt="">
		</div>
		<div class="col-lg-8">
			<div class="row">
				<div class="col-4">
 <img src="img/lg.png" class="img-fluid" alt="">
				</div>
				<div class="col-4">
 <img src="img/sm.png" class="img-fluid" alt="">
				</div>
				<div class="col-4">
 <img src="img/xs.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
 </section>
<div class="clean">
</div>
 <section id="release" class="overflow-hidden">
<div class="container">
	<div class="row">
		<div class="col">
			<h2>
			Релиз сайта </h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
				 После верстки всех страниц сайт интегрировали с системой 1С Битрикс. Сделали фотографии товаров, написали уникальный текст — разместили этот контент на сайте. Провели SEO-оптимизацию всех страниц.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
 <a href="http://goodcup.ru" target="_blank" class="callback defaultbutton colorFFF">
			www.goodcup.ru </a>
		</div>
	</div>
	<div class="prototyping_grid_15px">
		<div class="release_grid">
			<div class="grid_col">
			</div>
			<div class="grid_col">
			</div>
			<div class="grid_col">
			</div>
			<div class="grid_col">
 <img src="img/car.png" class="img-fluid float-left" alt="">
			</div>
		</div>
	</div>
</div>
 </section> </main>
<!-- / Main --> <!-- Footer --> <footer> </footer>
        <!-- / Footer -->
        <script src="lib/index.js"></script>