.navbar-brand {
    width: calc(100% - 85px);
}
.navbar {
    padding: 0;
    margin-top: 28px;
}
.navbar a {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.navbar-toggler-icon {
    background-image: url("../../img/template/burger.svg");
}
.nav-link {
    padding: 11px;
}