/* Header */
.header_form {
    margin-top: 5px;
}
.header_form input, .header_form button {
    background-color: #ececec;
    border: none;
    min-height: 46px;
}
.header_social_links,
.local {
    padding: 0;
    margin-bottom: 0;
    margin-top: 15px;
    list-style: none;
    display: flex;
    float: left;
}
.header_social_links a {
    padding: 0 10px;
}
#localselect {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border-bottom: dashed 1px;
    padding: 0;
}
.local .dropdown-toggle::after {
    display: none;
}
.header_contacts img {
    float: left;
}
.header_contacts {
    display: block;
    float: right;
    width: 100%;
}
.header_contacts ul {
    float: left;
    list-style: none;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 0;
}
.header_contacts a {
    color: #000;
}
.header_phone {
    font-weight: 600;
}
/* Nav */
.navradius {
    background-color: #fff;
    border-radius: 5px;
}
.navright img {
    padding-right: 10px;
}