@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #dedede;
}
header {
    padding: 30px 0;
    background-color: #fff;
}